<p class="h4 margin-top-2em"><i class="fa fa-calendar-o"></i> Roster breakdown by NFL team bye weeks for the <%= current_year %> season</p>
	<div class="table-responsive">
		<table class="table table-condensed table-bordered table-striped" cellpadding="0" cellspacing="0" border="0">
	    		<thead>
	    			<tr>
	    				<th width="5"></th>
	    				<th width="80">Week</th>
	    				<th width="30">#</th>
	    				<th style="padding-left: 15px;">Players</th>
	    			</tr>
	    		</thead>
	    		<tbody>
	    			
	    			<tr>
	    				<td></td>
	    				<td>Week 4</td>
	    				<td><%= @week4.count %></td>
	    				<td>
	    					<table cellspacing="0" cellpadding="0" border="0">
	    						<tr>
			      				<% @week4.each do |player| %>
			      					<td class="roster-breakdown-by-player-row"><%= link_to player.full_name, player %> <%= link_to image_tag(player.nfl_team_model.avatar(:tiny)), player.nfl_team_model if player.nfl_team %></td>
			      				<% end %>
			      			</tr>
			      		</table>
	      			</td>
	    			</tr>
	    			<tr>
	    				<td></td>
	    				<td>Week 5</td>
	    				<td><%= @week5.count %></td>
	    				<td>
	    					<table cellspacing="0" cellpadding="0" border="0">
	    						<tr>
			      				<% @week5.each do |player| %>
			      					<td class="roster-breakdown-by-player-row"><%= link_to player.full_name, player %> <%= link_to image_tag(player.nfl_team_model.avatar(:tiny)), player.nfl_team_model if player.nfl_team %></td>
			      				<% end %>
			      			</tr>
			      		</table>
	      			</td>
	    			</tr>
	    			<tr>
	    				<td></td>
	    				<td>Week 6</td>
	    				<td><%= @week6.count %></td>
	    				<td>
	    					<table cellspacing="0" cellpadding="0" border="0">
	    						<tr>
			      				<% @week6.each do |player| %>
			      					<td class="roster-breakdown-by-player-row"><%= link_to player.full_name, player %> <%= link_to image_tag(player.nfl_team_model.avatar(:tiny)), player.nfl_team_model if player.nfl_team %></td>
			      				<% end %>
			      			</tr>
			      		</table>
	      			</td>
	    			</tr>
	    			<tr>
	    				<td></td>
	    				<td>Week 7</td>
	    				<td><%= @week7.count %></td>
	    				<td>
	    					<table cellspacing="0" cellpadding="0" border="0">
	    						<tr>
			      				<% @week7.each do |player| %>
			      					<td class="roster-breakdown-by-player-row"><%= link_to player.full_name, player %> <%= link_to image_tag(player.nfl_team_model.avatar(:tiny)), player.nfl_team_model if player.nfl_team %></td>
			      				<% end %>
			      			</tr>
			      		</table>
	      			</td>
	    			</tr>
	    			<tr>
	    				<td></td>
	    				<td>Week 8</td>
	    				<td><%= @week8.count %></td>
	    				<td>
	    					<table cellspacing="0" cellpadding="0" border="0">
	    						<tr>
			      				<% @week8.each do |player| %>
			      					<td class="roster-breakdown-by-player-row"><%= link_to player.full_name, player %> <%= link_to image_tag(player.nfl_team_model.avatar(:tiny)), player.nfl_team_model if player.nfl_team %></td>
			      				<% end %>
			      			</tr>
			      		</table>
	      			</td>
	    			</tr>
	    			<tr>
	    				<td></td>
	    				<td>Week 9</td>
	    				<td><%= @week9.count %></td>
	    				<td>
	    					<table cellspacing="0" cellpadding="0" border="0">
	    						<tr>
			      				<% @week9.each do |player| %>
			      					<td class="roster-breakdown-by-player-row"><%= link_to player.full_name, player %> <%= link_to image_tag(player.nfl_team_model.avatar(:tiny)), player.nfl_team_model if player.nfl_team %></td>
			      				<% end %>
			      			</tr>
			      		</table>
	      			</td>
	    			</tr>
	    			<tr>
	    				<td></td>
	    				<td>Week 10</td>
	    				<td><%= @week10.count %></td>
	    				<td>
	    					<table cellspacing="0" cellpadding="0" border="0">
	    						<tr>
			      				<% @week10.each do |player| %>
			      					<td class="roster-breakdown-by-player-row"><%= link_to player.full_name, player %> <%= link_to image_tag(player.nfl_team_model.avatar(:tiny)), player.nfl_team_model if player.nfl_team %></td>
			      				<% end %>
			      			</tr>
			      		</table>
	      			</td>
	    			</tr>
	    			<tr>
	    				<td></td>
	    				<td>Week 11</td>
	    				<td><%= @week11.count %></td>
	    				<td>
	    					<table cellspacing="0" cellpadding="0" border="0">
	    						<tr>
			      				<% @week11.each do |player| %>
			      					<td class="roster-breakdown-by-player-row"><%= link_to player.full_name, player %> <%= link_to image_tag(player.nfl_team_model.avatar(:tiny)), player.nfl_team_model if player.nfl_team %></td>
			      				<% end %>
			      			</tr>
			      		</table>
	      			</td>
	    			</tr>
	    			<tr>
	    				<td></td>
	    				<td>Week 12</td>
	    				<td><%= @week12.count %></td>
	    				<td>
	    					<table cellspacing="0" cellpadding="0" border="0">
	    						<tr>
			      				<% @week12.each do |player| %>
			      					<td class="roster-breakdown-by-player-row"><%= link_to player.full_name, player %> <%= link_to image_tag(player.nfl_team_model.avatar(:tiny)), player.nfl_team_model if player.nfl_team %></td>
			      				<% end %>
			      			</tr>
			      		</table>
	      			</td>
	    			</tr>
	    		</tbody>
	    	</table>
	    </div>
		<% render 'layouts/back_to_top_link' %>