<div class="col-md-4"><br />
	<div class="panel panel-info">
				<%= render "/contracts/contract_clauses_key" %></div><!-- end of panel-body -->
			</div>

	<div class="panel panel-default">
		<div class="panel-heading">
    	<p class="panel-title"><a href="/members"><i class="fa fa-cog"></i> GM actions</a></p>
  	</div>
    <div class="panel-body">  	
			<p class="h4">Eligible for extension:</p>
				<ul>
					<% @players_to_extend.each do |p| %>
						<li><i class="fa fa-plus-circle"></i> <%= link_to p.full_name, p %> for&nbsp;<span class="extended" style="font-weight: bold;">&nbsp;$<%= p.to_extend_now %>&nbsp;</span>&nbsp;in <%= p.current_contract.full_contract_length + p.current_contract.subcontracts.first.contract_year %></li>
					<% end %>
				</ul>
				<hr />
			<p class="h4">Eligible for franchise tags:</p>
				<ul>
					<% @players_to_franchise.each do |p| %>
						<li><i class="fa fa-tag"></i> <%= link_to p.full_name, p %> for&nbsp;<span class="franchised" style="font-weight: bold;">&nbsp;$<%= p.to_franchise_now %>&nbsp;</span>&nbsp;in <%= p.current_contract.full_contract_length + p.current_contract.subcontracts.first.contract_year %></li>
					<% end %>
				</ul>


			<!--<p class="h4">Trade offers:</p>-->
		</div>
	</div><!-- end of panel -->

</div><!-- end of col-md-4-->	