<div class="gm-actions-extensions">
	<p class="h4"><i class="fa fa-plus-circle"></i> Eligible for extension:</p>
	<div class="alert alert-warning" role="alert"><i class="fa fa-clock-o"></i> Last chance
		<ul>
			<% @last_chance_to_extend.each do |p| %>
				<li><i class="fa fa-plus-circle"></i> <%= link_to p.full_name, p, class: "alert-link" %> (<%= p.position %>) for&nbsp;<span class="extended" style="font-weight: bold;">&nbsp;$<%= p.to_extend_now %>&nbsp;</span>&nbsp;in <%= p.current_contract.full_contract_length + p.current_contract.subcontracts.first.contract_year %></li>
			<% end %>
		</ul>
	</div>
	<p class="margin-top-1em"><a name="extension" class="expand" style="cursor: pointer;">Other extension options <i class="fa fa-angle-down only-this"></i></a></p>
	<div class="hidden-content">
		<ul>
			<% @players_to_extend.each do |p| %>
				<li><i class="fa fa-plus-circle"></i> <%= link_to p.full_name, p %> (<%= p.position %>) for&nbsp;<span class="extended" style="font-weight: bold;">&nbsp;$<%= p.to_extend_now %>&nbsp;</span>&nbsp;in <%= p.current_contract.full_contract_length + p.current_contract.subcontracts.first.contract_year %></li>
			<% end %>
		</ul>
	</div>
</div>

<hr />
<div class="gm-actions-franchises">
	<p class="h4"><i class="fa fa-tag"></i> Eligible for franchise tags:</p>
	<div class="alert alert-warning" role="alert"><i class="fa fa-clock-o"></i> Last chance
		<ul>
			<% @last_chance_to_franchise.each do |p| %>
				<li><i class="fa fa-tag"></i> <%= link_to p.full_name, p, class: "alert-link" %> (<%= p.position %>) for&nbsp;<span class="franchised" style="font-weight: bold;">&nbsp;$<%= p.to_franchise_now %>&nbsp;</span>&nbsp;in <%= p.current_contract.full_contract_length + p.current_contract.subcontracts.first.contract_year %></li>
			<% end %>
		</ul>
	</div>
	<p class="margin-top-1em"><a name="franchise" class="expand" style="cursor: pointer;">Other franchise options <i class="fa fa-angle-down only-this"></i></a></p>
	<div class="hidden-content">
		<ul>
			<% @players_to_franchise.each do |p| %>
				<li><i class="fa fa-tag"></i> <%= link_to p.full_name, p %> (<%= p.position %>) for&nbsp;<span class="franchised" style="font-weight: bold;">&nbsp;$<%= p.to_franchise_now %>&nbsp;</span>&nbsp;in <%= p.current_contract.full_contract_length + p.current_contract.subcontracts.first.contract_year %></li>
			<% end %>
		</ul>
	</div>
</div>