<div class="row margin-top-1em">
  <div class="col-md-10">
    <div class="panel panel-danger">
      <div class="panel-heading">       
        <p class="panel-title"><i class="fa fa-square-o"></i> Pending trades <small class="muted">waiting on action from you</small></p>
      </div>
    	
    	<%= render "trades/trades_list", trades: @pending_trades %>
    </div>

    <div class="panel panel-warning">
      <div class="panel-heading">       
        <p class="panel-title"><i class="fa fa-exchange"></i> Initiated trades <small class="muted">waiting on action from someone else</small></p>
      </div>
    	
    	<%= render "trades/trades_list", trades: @initiated_trades %>
    </div>

    <div class="panel panel-success">
      <div class="panel-heading">       
        <p class="panel-title"><i class="fa fa-check-square-o"></i> Completed trades <small class="muted">waiting on action from someone else</small></p>
      </div>
    	
    	<%= render "trades/trades_list", trades: @accepted_trades %>
    </div>

    <div class="panel panel-danger">
      <div class="panel-heading">       
        <p class="panel-title"><i class="fa fa-times-circle"></i> Rejected trades <small class="muted">adjust or let it die</small></p>
      </div>
      
      <%= render "trades/trades_list", trades: @accepted_trades %>
    </div>
  </div>
  <div class="col-md-2">
    <p>
      <%= link_to new_trade_path, class: "btn btn-success" do %>
        <i class="fa fa-plus-circle"></i> New trade 
      <% end %>
    </p>
  </div>
</div>