<% content_for :title, "#{@team.team_name} managed by #{@team.user.display_name}" %>
<% content_for :section_subtitle, "Roster, contracts, budgetary information, awards won to date and other pertinent information" %>
	
		
<div class="row">
			<div class="col-md-8"><br />
				
				<div class="panel panel-danger">
					<div class="panel-heading">
		          		
						<p class="panel-title bold"><%= image_tag @team.user.avatar(:mini), :border => 0, :style => "display: inline;", :align => "right" %>
							<strong>Roster</strong><br />
							<small>Includes active roster spots, dead money, and contract buyouts.</small>
						</p>
		        	</div>

					<div class="table-responsive">
						
						
						<table cellspacing="0" cellpadding="0" border="0" class="table table-condensed table-bordered table-striped">
							<thead>
								<th width="5"></th>
								<th>Name</th>
								<th class="hidden-sm hidden-xs">Position</th>
								<th><%= current_year %></th>
								<th><%= current_year.to_i + 1 %></th>
								<th><%= current_year.to_i + 2 %></th>
								<th><%= current_year.to_i + 3 %></th>
								<th><%= current_year.to_i + 4 %></th>
								<th><%= current_year.to_i + 5 %></th>
							</thead>
							
							
							<tbody>

								<% if @players.count > 0 %>
									<% @players.each do |player| %>
										<tr>
											<td></td>
											<td><%= link_to player.full_name, player %> (<%= player.nfl_team %>)
												
												<% if player.this_team_contract(@team).is_bought_out %>
													<i class="fa fa-usd"></i> 
												<% else %>
													<% if player.this_team_contract(@team).is_extended %>
														<i class="fa fa-plus-circle"></i>
													<% end %>
													<% if player.this_team_contract(@team).is_franchised %>
														<i class="fa fa-tag"></i>
													<% end %>
												<% end %>
												
											</td>
											<td class="hidden-sm hidden-xs"><%= player.position %></td>
											<% player.this_team_contract(@team).subcontracts.current_year_or_later.limit(6).each do |sub| %>
												<% if sub.team_id == @team.id %>
													
													<td class="<%=sub.this_is_a_buyout ? 'bought-out' : sub.this_is_an_extension ? 'extended' : sub.this_is_a_franchise_tag ? 'franchised' : '' %>">
													$<%= sub.salary_amount %></td>
												<% else %>
													<td></td>
												<% end %>
											<% end %>
									</tr>
									<% end %>

								<% else %>
								<tr>
									<td></td>
									<td colspan="8">No players on this team.</td>
								</tr>
							<% end %>
								<tr>
									<td></td>
									
									<td><h4><span class="label label-danger">TOTAL:</span></h4></td>
									<td></td>
									<td><h4>$<%= @team.calculate_yearly_salary(current_year) %></h4></td>
									<td><h4>$<%= @team.calculate_yearly_salary(current_year.to_i + 1) %></h4></td>
									<td><h4>$<%= @team.calculate_yearly_salary(current_year.to_i + 2) %></h4></td>
									<td><h4>$<%= @team.calculate_yearly_salary(current_year.to_i + 3) %></h4></td>
									<td><h4>$<%= @team.calculate_yearly_salary(current_year.to_i + 4) %></h4></td>
									<td><h4>$<%= @team.calculate_yearly_salary(current_year.to_i + 5) %></h4></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			<%= render "/contracts/contract_clauses_key" %>

			<p class="h4 margin-top-2em">Roster breakdown by position for the <%= current_year %> season</p>
			<div class="table-responsive">
				<table class="table table-condensed table-bordered table-striped" cellpadding="0" cellspacing="0" border="0">
		      		<thead>
		      			<tr>
		      				<th width="5"></th>
		      				<th width="20">Pos</th>
		      				<th width="20">#</th>
		      				<th>Players</th>
		      			</tr>
		      		</thead>
		      		<tbody>
		      			
		      			<tr>
		      				<td></td>
		      				<td>QB</td>
		      				<td><%= @qbs.count %></td>
		      				<td>
		      					<table cellspacing="0" cellpadding="0" border="0">
		      						<tr>
					      				<% @qbs.each do |qb| %>
					      					<td style="padding-left: 10px; padding-right: 10px; border-right: 1px solid #ccc;"><%= link_to qb.full_name, qb %></td>
					      				<% end %>
					      			</tr>
					      		</table>
			      			</td>
		      			</tr>
		      			<tr>
		      				<td></td>
		      				<td>RB</td>
		      				<td><%= @rbs.count %></td>
		      				<td>
		      					<table cellspacing="0" cellpadding="0" border="0">
		      						<tr>
					      				<% @rbs.each do |rb| %>
					      					<td style="padding-left: 10px; padding-right: 10px; border-right: 1px solid #ccc;"><%= link_to rb.full_name, rb %></td>
					      				<% end %>
					      			</tr>
					      		</table>
			      			</td>
		      			</tr>
		      			<tr>
		      				<td></td>
		      				<td>WR</td>
		      				<td><%= @wrs.count %></td>
		      				<% @wrs.each do |wr| %>
		      					<td><%= link_to wr.full_name, wr %></td>
		      				<% end %>
		      			</tr>
		      			<tr>
		      				<td></td>
		      				<td>TE</td>
		      				<td><%= @tes.count %></td>
		      				<% @tes.each do |te| %>
		      					<td><%= link_to te.full_name, te %></td>
		      				<% end %>
		      			</tr>
		      			<tr>
		      				<td></td>
		      				<td>K</td>
		      				<td><%= @kickers.count %></td>
		      				<% @kickers.each do |k| %>
		      					<td><%= link_to k.full_name, k %></td>
		      				<% end %>
		      			</tr>
		      			<tr>
		      				<td></td>
		      				<td>D</td>
		      				<td><%= @defs.count %></td>
		      				<% @defs.each do |d| %>
		      					<td><%= link_to d.full_name, d %></td>
		      				<% end %>
		      			</tr>
		      		</tbody>
		      	</table>
		      </div>
			<%= render 'layouts/back_to_top_link' %>
			
			
			<div class="panel panel-success">
				<div class="panel-heading">
	          		<p class="panel-title bold">Payouts/awards won to date</p>
	        	</div>
	        	
				
				<%= render '/users/payout_awards_table', :user => @team.user %>
					
					
				
	      	</div><!-- end of panel -->
	      	<%= render 'layouts/back_to_top_link' %>

	      	<!-- fancy chart showing payout breakdown -->
	      	<p class="h1">Breakdown of the $<%= @total_payout_amount_to_date %> paid out to date</p>
	      	<div id="members-chartdiv" style="width: 750px; height: 500px;"></div>
			<%= render 'layouts/back_to_top_link' %>
			</div><!-- end of col-md-8 -->
			
			
	
			
			<div class="col-md-4 hidden-xs"><br />

				<div class="panel panel-primary">
					<div class="panel-heading">
		          		<p class="panel-title bold"><a href="/members">The league</a></p>
		        	</div>
		        	
						<table cellspacing="0" cellpadding="0" border="0" class="table table-striped"
							<tr>
								<td colspan="4"><strong>&nbsp;&nbsp;Philip Division</strong></td>
							</tr>
							<% current_philip_members.each do |user|%>
								<%= render '/users/member_list_nav', :user => user %>
							<% end %>
							<tr>
								<td colspan="4"><strong>&nbsp;&nbsp;Russell Division</strong></td>
							</tr>

							<% current_russell_members.each do |user|%>
								<%= render '/users/member_list_nav', :user => user %>
							<% end %>
						</table>
					
				</div><!-- end of panel -->
			</div><!-- end of col-md-4-->	
		</div><!-- end of row -->
