<% content_for :title, "#{@team.team_name}" %>
<% content_for :section_subtitle, "managed by #{@team.user.display_name}" %>
<br />


<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#roster" data-toggle="tab"><i class="fa fa-list"></i> Roster</a></li>
  <% if current_user %>
    <% if current_user == @team.user %>
      <li><a href="#contracts" data-toggle="tab"><i class="fa fa-file-text-o"></i> Contracts</a></li>
    <% end %>
  <% end %>
  <li><a href="#payouts" data-toggle="tab" id="payouts-tab"><i class="fa fa-trophy"></i> Payouts</a></li>
  
  <% if current_user %>
  	<% if current_user == @team.user %>
  		<li><a href="#draftrosters" data-toggle="tab"><i class="fa fa-eye"></i> Draft Rosters</a></li>
  		<li>
  			<a href="#trades" data-toggle="tab"><i class="fa fa-exchange"></i> Trades <span class="badge"><%= @pending_trades.count %></span></a>
  		</li>
  		<li class="dropdown">
  			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
  				<i class="fa fa-inbox"></i> Mailbox <span class="badge"><%= current_user.mailbox.inbox.unread(current_user).count %></span> <b class="caret"></b>
  			</a>
  			<ul class="dropdown-menu">
  				<li><a href="#inbox" data-toggle="tab">
  							<% if current_user.mailbox.inbox.unread(current_user).count > 0 %>
  							 	<i class="fa fa-envelope"></i>
  							<% else %>
  							 	<i class="fa fa-envelope-o"></i> 
  							<% end %> Inbox (<%= current_user.mailbox.inbox.unread(current_user).count %>)</a> 
  				</li>
  				<li><a href="#sentbox" data-toggle="tab"><i class="fa fa-folder-open-o"></i> Sent</a></li>
  				<li><a href="#trash" data-toggle="tab"><i class="fa fa-trash-o"></i> Trash</a></li>
  			</ul>
  		</li>
  		<% end %>
  <% end %>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade in active" id="roster">
  	<div class="row">
  		<%= render 'team_roster_info' %>

  		<div class="col-md-4"><br />
				
				<div class="panel panel-default">
					<div class="panel-heading">
			    	<p class="panel-title"><a href="/members"><i class="fa fa-cog"></i> GM actions</a></p>
			  	</div>
  				<div class="panel-body"> 
  					<%= render 'gm_actions_extensions_franchises' %>
  					<% if current_user %>
  						<% if current_user == @team.user %>
  							<hr />
  							<%= render 'gm_actions_trades' %>
		  					<hr />
		  					<%= render 'gm_actions_super_bowl_picks' %>
		  				<% end %>
		  			<% end %>
  				</div>
	  		</div><!-- end of panel -->
			</div><!-- end of col-md-4-->	
  	</div><!-- end of row -->
  </div>

  <% if current_user %>
    <% if current_user == @team.user %>
      <div class="tab-pane fade" id="contracts"> 
        <div class="row">
          

          <div class="col-md-12"><br />

            <div class="panel panel-default">
              <div class="panel-heading">
                <p class="panel-title"><a href="/members"><i class="fa fa-file-text-o"></i> Contracts</a></p>
              </div>
              <div class="table-responsive">    
                <%= render "contracts", players: @players %>
              </div>
            </div><!-- end of panel -->
          </div><!-- end of col-md-4--> 
        </div><!-- end of row -->
      </div>
    <% end %>
  <% end %>


  <div class="tab-pane fade" id="payouts"> <!-- have to use class .active in order for amCharts to display properly --> 
  	<div class="row">
  		<%= render 'team_payouts_info' %>

  		<div class="col-md-4 hidden-xs"><br />

				<div class="panel panel-default">
					<div class="panel-heading">
          	<p class="panel-title"><a href="/members"><i class="fa fa-list-alt"></i> The league</a></p>
        	</div>
		      <div class="table-responsive">  	
						<table cellspacing="0" cellpadding="0" border="0" class="table table-striped">
							<tr>
								<td colspan="4"><strong>&nbsp;&nbsp;Philip Division</strong></td>
							</tr>
							<% current_philip_members.each do |user|%>
								<%= render '/users/member_list_nav', :user => user %>
							<% end %>
							<tr>
								<td colspan="4"><strong>&nbsp;&nbsp;Russell Division</strong></td>
							</tr>

							<% current_russell_members.each do |user|%>
								<%= render '/users/member_list_nav', :user => user %>
							<% end %>
						</table>
					</div>
				</div><!-- end of panel -->
			</div><!-- end of col-md-4-->	
		</div><!-- end of row -->
  </div>

  <div class="tab-pane fade margin-bottom-1em" id="draftrosters">
  	
  	<%= render '/draft_rosters/draft_rosters', draft_rosters: @draft_rosters %>
  </div>

  <% if current_user %>
  	<% if current_user == @team.user %>
	  	<div class="tab-pane fade" id="trades">
					<br />
					<div class="row">
						<div class="col-md-12">
							
							<%= render 'team_trades' %>
						</div>
					</div>
				</div>


				<div class="tab-pane fade" id="inbox">
					<br />
					<div class="row">
						<div class="col-md-12">
							<%= render "mailboxer_toolbar" %>

							<div class="panel panel-default">
						    <div class="panel-heading">       
						      <p class="panel-title"><% if current_user.mailbox.inbox.unread(current_user).count > 0 %>
	  							 	<i class="fa fa-envelope"></i>
	  							<% else %>
	  							 	<i class="fa fa-envelope-o"></i> 
	  							<% end %> Inbox</p>
						    </div>

						    <div class="table-responsive">
									<table class="table table-condensed" cellspacing="0" cellpadding="0" border="0">
										<tr>
											
											<td>
												<% if current_user.mailbox.inbox.count > 0 %>
									  			<%= render current_user.mailbox.inbox %>
									  		<% else %>
									  			<%= render 'empty_mailbox' %>
									  		<% end %>
									  	</td>
									  </tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="tab-pane fade" id="sentbox">
					<br />
					<div class="row">
						<div class="col-md-12">
							<%= render "mailboxer_toolbar" %>
							<div class="panel panel-default">
						    <div class="panel-heading">       
						      <p class="panel-title"><i class="fa fa-folder-open-o"></i> Sent</p>
						    </div>
								<div class="table-responsive">
									<table class="table table-condensed" cellspacing="0" cellpadding="0" border="0">
										<tr>
											
											<td>
												<% if current_user.mailbox.sentbox.count > 0 %>
									  			<%= render current_user.mailbox.sentbox %>
									  		<% else %>
									  			<%= render 'empty_mailbox' %>
									  		<% end %>
									  	</td>
									  </tr>
									</table>
								</div>
							</div>				
						</div>
					</div>	
				</div>

				<div class="tab-pane fade" id="trash">
					<br />
					<div class="row">
						<div class="col-md-12">
							<%= render "mailboxer_toolbar" %>
							<div class="panel panel-default">
						    <div class="panel-heading">       
						      <p class="panel-title"><i class="fa fa-trash-o"></i> Trash</p>
						    </div>
								
								<table class="table table-condensed" cellspacing="0" cellpadding="0" border="0">
									<tr>
									
										<td>
											<% if current_user.mailbox.trash.count > 0 %>
				  							<%= render current_user.mailbox.trash %>
								  		<% else %>
								  			<%= render 'empty_mailbox' %>
								  		<% end %>
								  	</td>
								  </tr>
								</table>
							</div>
						</div>
					</div>
				</div>

			
		<% end %>
  <% end %>
</div>
		

			
			
			
			
			
	
			
			
		
