<p id="notice"><%= notice %></p>

<p>
  <b>Team name:</b>
  <%= @team.team_name %>
</p>

<p>
  <b>User:</b>
  <%= @team.user.display_name %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
