<% content_for :title, "#{@team.team_name} managed by #{@team.user.display_name}" %>
<% content_for :section_subtitle, "Roster, contracts, budgetary information, awards won to date and other pertinent information" %>
	


<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#roster" data-toggle="tab">Roster</a></li>
  <li><a href="#payouts" data-toggle="tab">Payouts</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade in active" id="roster">
  	<div class="row">
  		<%= render 'team_roster_info' %>

  		<div class="col-md-4"><br />

  			<div class="panel panel-warning">
					<div class="panel-heading">
          	<p class="panel-title bold"><a href="/members">GM actions</a></p>
        	</div>
		      <div class="panel-body">  	
						<p class="h4">Eligible for extension:</p>
							<ul>
								<% @players_to_extend.each do |p| %>
									<li><%= link_to p.full_name, p %>  </li>
								<% end %>
							</ul>
						<p class="h4">Eligible for franchise tags:</p>
							<ul>
								<% @players_to_franchise.each do |p| %>
									<li><%= link_to p.full_name, p %> <%= p.subcontracts.future_years.map { |x| x.team_id } %> </li>
								<% end %>
							</ul>


						<p class="h4">Trade offers:</p>
					</div>
				</div><!-- end of panel -->

  		</div><!-- end of col-md-4-->	


  	</div><!-- end of row -->
  </div>


  <div class="tab-pane fade active" id="payouts"> <!-- have to use class .active in order for amCharts to display properly --> 
  	<div class="row">
  		<%= render 'team_payouts_info' %>

  		<div class="col-md-4 hidden-xs"><br />

				<div class="panel panel-primary">
					<div class="panel-heading">
          	<p class="panel-title bold"><a href="/members">The league</a></p>
        	</div>
		        	
					<table cellspacing="0" cellpadding="0" border="0" class="table table-striped">
						<tr>
							<td colspan="4"><strong>&nbsp;&nbsp;Philip Division</strong></td>
						</tr>
						<% current_philip_members.each do |user|%>
							<%= render '/users/member_list_nav', :user => user %>
						<% end %>
						<tr>
							<td colspan="4"><strong>&nbsp;&nbsp;Russell Division</strong></td>
						</tr>

						<% current_russell_members.each do |user|%>
							<%= render '/users/member_list_nav', :user => user %>
						<% end %>
					</table>
					
				</div><!-- end of panel -->
			</div><!-- end of col-md-4-->	
		</div><!-- end of row -->
  </div>
  
</div>
		

			
			
			
			
			
	
			
			
		
