<% content_for :title, "#{@team.team_name}" %>
<% content_for :section_subtitle, "managed by #{@team.user.display_name}" %>
<br />


<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#roster" data-toggle="tab"><i class="fa fa-list"></i> Roster</a></li>
  <li><a href="#payouts" data-toggle="tab" id="payouts-tab"><i class="fa fa-trophy"></i> Payouts</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade in active" id="roster">
  	<div class="row">
  		<%= render 'team_roster_info' %>

  		<%= render 'gm_actions' %>


  	</div><!-- end of row -->
  </div>


  <div class="tab-pane fade" id="payouts"> <!-- have to use class .active in order for amCharts to display properly --> 
  	<div class="row">
  		<%= render 'team_payouts_info' %>

  		<div class="col-md-4 hidden-xs"><br />

				<div class="panel panel-default">
					<div class="panel-heading">
          	<p class="panel-title bold"><a href="/members">The league</a></p>
        	</div>
		        	
					<table cellspacing="0" cellpadding="0" border="0" class="table table-striped">
						<tr>
							<td colspan="4"><strong>&nbsp;&nbsp;Philip Division</strong></td>
						</tr>
						<% current_philip_members.each do |user|%>
							<%= render '/users/member_list_nav', :user => user %>
						<% end %>
						<tr>
							<td colspan="4"><strong>&nbsp;&nbsp;Russell Division</strong></td>
						</tr>

						<% current_russell_members.each do |user|%>
							<%= render '/users/member_list_nav', :user => user %>
						<% end %>
					</table>
					
				</div><!-- end of panel -->
			</div><!-- end of col-md-4-->	
		</div><!-- end of row -->
  </div>
  
</div>
		

			
			
			
			
			
	
			
			
		
