<div class="row">
	<div class="col-md-12">
		<span class="btn-group">
			<a href="/admin"class="btn btn-danger"><i class="fa fa-cogs fa-lg"></i>&nbsp;</a>
			<%= render '/layouts/admin_control_panel/new_feature_button' %>
			<% render '/layouts/admin_control_panel/new_player_button' %>
			<%= render '/layouts/admin_control_panel/new_payout_button' %>
			<%= render '/layouts/admin_control_panel/new_user_button' %>
			<%= render '/layouts/admin_control_panel/new_standings_button' %>
			<%= render '/layouts/admin_control_panel/new_super_bowl_button' %>
		</span>
	</div>
</div>