<thead>
	
	<tr>
		<th></th>
		<th>Contract year</th>
		<th>Contracted to</th>
		<th>Salary</th>
	</tr>
</thead>
<tbody>

	<% contract.subcontracts.order(:contract_year).each do |sub| %>
		<tr>
			<td class="<%= sub.contract.is_dead_money ? 'dead-money' : sub.this_is_a_buyout ? 'bought-out' : sub.this_is_an_extension ? 'extended' : sub.this_is_a_franchise_tag ? 'franchised' : '' %>"></td>
			<td  class="<%= sub.contract.is_dead_money ? 'dead-money' : sub.this_is_a_buyout ? 'bought-out' : sub.this_is_an_extension ? 'extended' : sub.this_is_a_franchise_tag ? 'franchised' : '' %>"><%= sub.contract_year %></td>
			<td  class="<%= sub.contract.is_dead_money ? 'dead-money' : sub.this_is_a_buyout ? 'bought-out' : sub.this_is_an_extension ? 'extended' : sub.this_is_a_franchise_tag ? 'franchised' : '' %>"><%= link_to sub.team.team_name, sub.team %></td>
			<td class="<%= sub.contract.is_dead_money ? 'dead-money' : sub.this_is_a_buyout ? 'bought-out' : sub.this_is_an_extension ? 'extended' : sub.this_is_a_franchise_tag ? 'franchised' : '' %>">$<%= sub.salary_amount %>
				<% if sub.this_is_an_extension %>
					<i class="fa fa-plus-circle"></i> 
				<% end %>

				<% if sub.this_is_a_franchise_tag %>
					<i class="fa fa-tag"></i>
				<% end %>

				<% if sub.this_is_a_buyout %>
					<i class="fa fa-usd"></i>
				<% end %>
			</td>
		</tr>

	<% end %>
	<tr>
		<td colspan="4"><%= render "/contracts/contract_clauses_key_inline" %></td>
	</tr>
	<tr>
		<td></td>
		<td colspan="2" align="right">Total contract cost over <%= contract.full_contract_length %> years: </td>
		<td><strong>$<%= contract.total_contract_cost %></strong></td>
	</tr>
