<div class="row">
	<div class="col-md-9">
		
		<div class="panel panel-default">
			
			<div class="table-responsive"><br />	
				<table class="table table-condensed table-striped">
					<thead>
						<tr>
							<th></th>
							<th>Player</th>
							<th>Terms</th>
							<% if current_user %>
								<% if can? :manage, @contracts %>
									<th></th>
								<% end %>
							<% end %>
						</tr>
					</thead>
					<tbody>
						<% @contracts.each do |contract| %>	
						
							<tr>
								<td class="<%= contract.is_bought_out ? 'bought-out' : contract.is_extended && contract.is_franchised ? 'extended_and_franchised'  : contract.is_extended ? 'extended' : contract.is_franchised ? 'franchised' :'' %>"></td>
								<td class="<%= contract.is_bought_out ? 'bought-out' : contract.is_extended && contract.is_franchised ? 'extended_and_franchised'  : contract.is_extended ? 'extended' : contract.is_franchised ? 'franchised' :'' %>"><%=link_to contract.player.full_name, contract.player %> 
									<% if contract.is_bought_out %>
										<i class="fa fa-usd"></i> 
									<% else %>

										<% if contract.is_extended %>
											<i class="fa fa-plus-circle"></i> 
										<% end %>

										<% if contract.is_franchised %>
											<i class="fa fa-tag"></i>
										<% end %>
									<% end %>

								</td>
								<td class="<%= contract.is_bought_out ? 'bought-out' : contract.is_extended && contract.is_franchised ? 'extended_and_franchised'  : contract.is_extended ? 'extended' : contract.is_franchised ? 'franchised' :'' %>">
									<% if contract.is_bought_out %> 
										<%= link_to "bought out", contract %> by <%= link_to Team.find(contract.bought_out_by_team_id).team_name, Team.find(contract.bought_out_by_team_id) %>
									<% else %> 
										<%=link_to "contracted", contract -%>
											<% if contract.player.is_contracted? %> 
												to <%= link_to Team.find(contract.player.this_year.team_id).team_name, Team.find(contract.player.this_year.team) %>
											<% else %>
												to <%= link_to Team.find(contract.subcontracts.last.team_id).team_name, Team.find(contract.subcontracts.last.team_id) %>
											<% end %>
									<% end %>
										
										
									for <strong><%= contract.full_contract_length %></strong> years starting in <%= contract.subcontracts.map(&:contract_year).first %> until <%= contract.contract_start_year + contract.full_contract_length - 1 %>
									
								</td>
								<% if current_user %>
									<% if can? :manage, contract %>
										<td class="<%= contract.is_bought_out ? 'bought-out' : contract.is_extended && contract.is_franchised ? 'extended_and_franchised'  : contract.is_extended ? 'extended' : contract.is_franchised ? 'franchised' :'' %>"><%= link_to "Delete", contract, :confirm => 'Are you sure?', :method => :delete, :class => 'label label-danger' %></td>
									<% end %>
								<% end %>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<%= render 'contracts_key' %>
		
	</div>
</div>