<div class="panel panel-default">
	
		<%= render "/contracts/contract_clauses_key" %>
		<table class="table table-condensed">
			<tbody>
				<tr>
					<td></td>
					<td>All:</td>
					<td><%= link_to all_contracts.count, "/contracts" %></td>
				</tr>
				<tr>
					<td></td>
					<td>Extended:</td>
					<td><%= link_to extensions_contracts.count, "/contracts/extensions" %></td>
				</tr>
				<tr>
					<td></td>
					<td>Franchised:</td>
					<td>
						<% if franchises_contracts.count > 0 %>
							<%= link_to franchises_contracts.count, "/contracts/franchises" %>
						<% else %>
							<%= franchises_contracts.count %>
						<% end %>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>Extended &amp; franchised:</td>
					<td>
						<% if both_contracts.count > 0 %>
							<%= link_to both_contracts.count, "/contracts/extended_and_franchised" %>
						<% else %>
							<%= both_contracts.count %>
						<% end %>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>Bought out:</td>
					<td><%= link_to buyouts_contracts.count, "/contracts/buyouts" %></td>
				</tr>
				<tr>
					<td></td>
					<td>Dead money:</td>
					<td><%= link_to dead_money_contracts.count, "/contracts/dead_money" %></td>
				</tr>
			</tbody>
		</table>
	</div><!-- end of panel-body -->
</div>