<div class="row">
	<div class="col-md-9">
		
		<div class="panel panel-default">
			<div class="panel-heading"><p class="panel-title"><i class="fa fa-file-text-o"></i> Contracts</p></div>
			
			<div class="table-responsive"><br />	
				<table class="table table-condensed table-striped">
					<thead>
						<tr>
							<th></th>
							<th>Player</th>
							<th>Terms</th>
							<th></th>
							
						</tr>
					</thead>
					<tbody>
						<% @contracts.each do |contract| %>	
						
							<tr>
								<td class="<%= contract.is_dead_money ? 'dead-money' : contract.is_bought_out ? 'bought-out' : contract.is_extended && contract.is_franchised ? 'extended_and_franchised'  : contract.is_extended ? 'extended' : contract.is_franchised ? 'franchised' :'' %>"></td>
								<td class="<%= contract.is_dead_money ? 'dead-money' : contract.is_bought_out ? 'bought-out' : contract.is_extended && contract.is_franchised ? 'extended_and_franchised'  : contract.is_extended ? 'extended' : contract.is_franchised ? 'franchised' :'' %>"><%=link_to contract.player.full_name, contract.player %> 
									
									<% if contract.void %>
										<i class="fa fa-times-circle"></i>
									<% elsif contract.is_bought_out %>
										<i class="fa fa-usd"></i> 
									<% else %>

										<% if contract.is_extended %>
											<i class="fa fa-plus-circle"></i> 
										<% end %>

										<% if contract.is_franchised %>
											<i class="fa fa-tag"></i>
										<% end %>

										<% if contract.is_dead_money %>
											<i class="fa fa-lemon-o"></i>
										<% end %>
									<% end %>

								</td>
								<td class="<%= contract.is_dead_money ? 'dead-money' : contract.is_bought_out ? 'bought-out' : contract.is_extended && contract.is_franchised ? 'extended_and_franchised'  : contract.is_extended ? 'extended' : contract.is_franchised ? 'franchised' :'' %>">
									<% if contract.is_bought_out %> 
										<%= link_to "bought out", contract %> by <%= image_tag Team.find(contract.bought_out_by_team_id).user.avatar.url(:tiny) %> <%= link_to Team.find(contract.bought_out_by_team_id).team_name, Team.find(contract.bought_out_by_team_id) %>
									<% else %> 
										<%=link_to "contracted", contract -%>
											<% if contract.player.is_contracted? %> 
												to <%= image_tag Team.find(contract.player.this_year.team_id).user.avatar.url(:tiny) %> <%= link_to Team.find(contract.player.this_year.team_id).team_name, Team.find(contract.player.this_year.team) %>
											<% else %>
												to <%= image_tag Team.find(contract.subcontracts.last.team_id).user.avatar.url(:tiny) %> <%= link_to Team.find(contract.subcontracts.last.team_id).team_name, Team.find(contract.subcontracts.last.team_id) %>
											<% end %>
									<% end %>
										
										
									for <strong><%= contract.full_contract_length %></strong> years starting in <%= contract.subcontracts.map(&:contract_year).first %> until <%= contract.contract_start_year + contract.full_contract_length - 1 %>
									
								</td>
								<% if current_user %>
				          <% if can? :manage, contract %>
				            <% if current_user.role == "admin" || contract.player.this_year.salary_amount == 0 %>
				            <td class="<%= contract.is_dead_money ? 'dead-money' : contract.is_bought_out ? 'bought-out' : contract.is_extended && contract.is_franchised ? 'extended_and_franchised'  : contract.is_extended ? 'extended' : contract.is_franchised ? 'franchised' :'' %>">
				            	<%= link_to contract, confirm: 'Are you sure?', method: :delete, class: 'label label-danger' do %><i class="fa fa-minus-circle"></i> Delete<% end %>
				            </td>

				            <% else %>
				            <td class="<%= contract.is_dead_money ? 'dead-money' : contract.is_bought_out ? 'bought-out' : contract.is_extended && contract.is_franchised ? 'extended_and_franchised'  : contract.is_extended ? 'extended' : contract.is_franchised ? 'franchised' :'' %>"></td>
				            <% end %>
				          <% else %>
				            <td class="<%= contract.is_dead_money ? 'dead-money' : contract.is_bought_out ? 'bought-out' : contract.is_extended && contract.is_franchised ? 'extended_and_franchised'  : contract.is_extended ? 'extended' : contract.is_franchised ? 'franchised' :'' %>"></td>
				          <% end %>
				        <% end %>
							</tr>
						<% end %>
					</tbody>
				</table>

			</div>
		</div>
		<%= paginate @contracts %>
	</div>
	<div class="col-md-3">
		<%= render 'contracts_key' %>
		
	</div>
</div>