<%= labeled_form_for @contract, :html => { :multipart => true, :class => "form-horizontal" } do |f| %>
  <%= f.error_messages %>
 
  <% if current_user.role == "admin" %>
    <%= f.text_field :contract_start_year, :class => 'form-control' %>
    <%= f.text_field :contract_length, :class => 'form-control' %>
  <% else %>
    <%= f.text_field :contract_start_year, :class => 'form-control disabled', disabled: true %>
    <%= f.text_field :contract_length, :class => 'form-control disabled', disabled: true %>
  <% end %>

  <% if @contract.new_record? || current_user.role == "admin" %>
    <%= f.check_box :is_drafted, label: "Drafted?" %>
  <% else %>
    <%= f.check_box :is_drafted, label: "Drafted?", class: "disabled", disabled: true  %>
  <% end %>
      <small class="col-lg-offset-3">Only drafted players may be signed to long-term contracts</small>
    <br /><br />
  
    <% if @contract.extendible %>
      <% if current_user.role == "admin" || !@contract.is_dead_money && !current_user.team.current_year_actions.has_extended %>
        <%= f.check_box :is_extended, label: "Apply extension" %>
      <% else %>
        <%= f.check_box :is_extended, label: "Apply extension", class: "disabled", disabled: true %>
      <% end %>
    <% else %>
     <%= f.check_box :is_extended, label: "Apply extension", class: "disabled", disabled: true %>
    <% end %>
      <small class="col-lg-offset-3">Adds one more year to the contract using the progression from the contract's creation</small>
    <br /><br />


    <% if @contract.franchisable %>
      <% if current_user.role == "admin" || !@contract.is_dead_money && !current_user.team.current_year_actions.has_franchised %>
        <%= f.check_box :is_franchised, label: "Apply franchise tag" %>
      <% else %>
        <%= f.check_box :is_franchised, label: "Apply franchise tag", class: "disabled", disabled: true %>
      <% end %>
    <% else %>
     <%= f.check_box :is_franchised, label: "Apply franchise tag", class: "disabled", disabled: true %>
    <% end %>
      <small class="col-lg-offset-3">Only usable on contracts expiring this year or mid-season pickups. Salary is average of top 5 of this player's position</small>
    <br /><br />

    <% if current_user.role == "admin" || !@contract.is_dead_money && !current_user.team.current_year_actions.has_bought_out %>
    <div class="alert alert-warning">
      <%= f.check_box :is_bought_out, label: "Apply buy out clause" %>
        <small class="col-lg-offset-3">Buyout clause applied to remaining contract years for 60% of the contracted amount<br /><br /></small>
      <% if current_user.role == "admin" %>
      <%= f.select(:bought_out_by_team_id, Team.current_league_members.map {|c| [c.team_name, c.id]}, { include_blank: true }, { class: "form-control", label: "Bought out by" })%>
        <small class="col-lg-offset-3">Only necessary if player is bought out. Player may NOT be picked up again by buyout team until all contracts have expired.</small>
      <% else %>
        <%= f.hidden_field :bought_out_by_team_id, value: current_user.team.id %>
      <% end %>
    </div>
    <% else %>
    <div class="alert alert-warning">
      <%= f.check_box :is_bought_out, label: "Apply buy out clause", class: "disabled", disabled: true %>
        <small class="col-lg-offset-3">Buyout clause applied to remaining contract years for 60% of the contracted amount<br /><br /></small>
    </div>
    <% end %>

    
    <div class="alert alert-info">
    <% if @contract.full_contract_length > 1 || !@contract.is_drafted || @contract.is_dead_money %>
      <%= f.check_box :is_longterm_deal, label: "Sign to long-term deal", class: "longterm_check_box disabled", disabled: true %>
    <% elsif @contract.full_contract_length == 1 && @contract.is_drafted %>
      <% if current_user.role == "admin" %>
        <%= f.check_box :is_longterm_deal, label: "Sign to long-term deal", class: "longterm_check_box" %>
      <% else %>
        <%= f.check_box :is_longterm_deal, label: "Sign to long-term deal", class: "longterm_check_box disabled", disabled: true %>
      <% end %>
    <% end %>
      <small class="col-lg-offset-3">Increase the length of this contract before week 8. Whatever number you enter below <strong>INCLUDES THIS YEAR.</strong><br /><br /></small>
      <span class="longterm_length">
        <% if current_user.role == "admin" %>
          <%= f.text_field :contract_length, label: "Contract length", class: "form-control shortened-field" %>
        <% else %>
          <%= f.text_field :contract_length, label: "Contract length", class: "form-control shortened-field disabled", disabled: true %>
        <% end %>
        <span class="longterm-computed-length">years, ending after the <span class="computed-year"><%= current_year %></span> season</span>
      </span>


    </div>
  <% if @contract.is_dead_money %>
    <span class="col-lg-offset-3 h4">Claim dead money contract<br /><br /></span>
    <%= f.check_box :pick_up_dead_money, label: "Pick up this contract" %>

    <span class="col-lg-offset-3">...and uncheck the box below.<br /><br /></span>
    <%= f.hidden_field :pick_up_dead_money_team_id, value: current_user.team.id %>
  <% end %>

  <%= f.check_box :is_dead_money, label: "Dead money" %>
    <small class="col-lg-offset-3">Denotes that this player is on your bankroll but not your roster</small>
  <br /><br />

  <% if current_user.role == "admin" %>
    <%= f.check_box :void, label: "Voided contract?" %>
  <% else %>
    <%= f.check_box :is_drafted, label: "Voided contract?", class: "disabled", disabled: true  %>
  <% end %>
      <small class="col-lg-offset-3">Only for use when there is a league member change and old contracts have not be picked up by the new GM</small>
  <br /><br />
   

  <div class="row">
    <div class="col-md-9 col-md-offset-2 margin-top-1em">
      <%= f.fields_for :subcontracts do |builder| %>
      <br /><br />
      <%= render '/players/subcontract_fields', f: builder %>
    <% end %>
    </div>
  </div>

 
  <%= f.submit :class => "btn btn-success btn-large" %>
 
<% end %>
