<%= labeled_form_for @contract, :html => { :multipart => true, :class => "form-horizontal" } do |f| %>
  <%= f.error_messages %>

 
  
  <%= f.text_field :contract_start_year, :class => 'form-control' %>
  <%= f.text_field :contract_length, :class => 'form-control' %>

  <% if @contract.new_record? %>
    <%= f.check_box :is_drafted, label: "Drafted?" %>
  <% else %>
    <%= f.check_box :is_drafted, label: "Drafted?", class: "disabled", disabled: true  %>
  <% end %>
      <small class="col-lg-offset-3">Only drafted players may be signed to long-term contracts</small>
    <br /><br />
  <%= f.check_box :is_extended, label: "Apply extension" %>
    <small class="col-lg-offset-3">Adds one more year to the contract using the progression from the contract's creation</small>
  <br /><br />
  <%= f.check_box :is_franchised, label: "Apply franchise tag" %>
    <small class="col-lg-offset-3">Only usable on contracts expiring this year or mid-season pickups. Salary is average of top 5 of this player's position</small>
  <br /><br />

  <div class="alert alert-warning">
    <%= f.check_box :is_bought_out, label: "Apply buy out clause" %>
      <small class="col-lg-offset-3">Buyout clause applied to remaining contract years for 60% of the contracted amount<br /><br /></small>
    <%= f.select(:bought_out_by_team_id, Team.current_league_members.map {|c| [c.team_name, c.id]}, { include_blank: true }, { class: "form-control", label: "Bought out by" })%>
      <small class="col-lg-offset-3">Only necessary if player is bought out. Player may NOT be picked up again by buyout team until all contracts have expired.</small>
  </div>

  <div class="alert alert-info">
    <%= f.check_box :is_longterm_deal, label: "Sign to long-term deal", class: "longterm_check_box" %>
      <small class="col-lg-offset-3">Increase the length of this contract before week 6<br /><br /></small>
    <span class="longterm_length"><%= f.text_field :contract_length, label: "Contract length", class: "form-control" %></span>
  </div>
   

  <div class="row">
    <div class="col-md-9 col-md-offset-2 margin-top-1em">
      <%= f.fields_for :subcontracts do |builder| %>
      <br /><br />
      <%= render '/players/subcontract_fields', f: builder %>
    <% end %>
    </div>
  </div>

 
  <%= f.submit :class => "btn btn-success btn-large" %>
 
<% end %>
