<%= labeled_form_for @contract, :html => { :multipart => true, :class => "form-horizontal" } do |f| %>
  <%= f.error_messages %>

 
  
  <%= f.text_field :contract_start_year, :class => 'form-control' %>
  <%= f.text_field :contract_length, :class => 'form-control' %>
  <%= f.check_box :is_drafted, label: "Drafted?" %>
    <small class="col-lg-offset-3">Only drafted players may be signed to long-term contracts</small>
  
  <%= f.check_box :is_extended, label: "Apply extension" %>
    <small class="col-lg-offset-3">Adds one more year to the contract using the progression from the contract's creation</small>
  
  <%= f.check_box :is_franchised, label: "Apply franchise tag" %>
    <small class="col-lg-offset-3">Only usable on contracts expiring this year or mid-season pickups. Salary is average of top 5 of this player's position</small>
    
<!--
  <% f.check_box :is_dead_money %> 
    <small>Player is not on the active roster of the contracted team but is still a cap drain</small>
-->

  <%= f.check_box :is_bought_out, label: "Apply buy out clause" %>
    <small class="col-lg-offset-3">Buyout clause applied to remaining contract years for 60% of the contracted amount<br /><br /></small>
    
  <%= f.select(:bought_out_by_team_id, Team.current_league_members.map {|c| [c.team_name, c.id]}, { include_blank: true }, { class: "form-control", label: "Bought out by" })%>
    <small class="col-lg-offset-3">Only necessary if player is bought out. Player may NOT be picked up again by buyout team until all contracts have expired.</small>
   

  <div class="row">
    <div class="col-md-9 col-md-offset-3 margin-top-1em">
      <%= f.fields_for :subcontracts do |builder| %>
      <br /><br />
      <%= render '/players/subcontract_fields', f: builder %>
    <% end %>
    </div>
  </div>

 
  <%= f.submit :class => "btn btn-success btn-large" %>
 
<% end %>
