<p id="notice"><%= notice %></p>



<p>
  <b>Contract length:</b>
  <%= @contract.contract_length %>
</p>
<p><%= @contract.player.auction_value %></p>
<p><%= @contract.player.full_name%>

<ul>
<% @subcontracts.each do |sub| %>
	<li><%= link_to sub.team.team_name, sub %></i>
<% end %>
</ul>
<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
