<% content_for :title, "Contract infromation for #{@contract.player.full_name}" %>
<% content_for :section_subtitle, "Specific information about this contract; other contracts for this player may be available" %>
<div class="row">
	<div class="col-md-7">
		<p class="h1">
		 	Signed in  <%= @contract.contract_start_year %> for <%= @contract.full_contract_length %> 
		 	<% if @contract.contract_length == 1 %>year<% else %>years<% end %>.
		</p>
		<p class="h2">Auction value: $<%= @contract.player.auction_value %></p>


		<% if @contract.is_bought_out %>
		<table class="table table-condensed bought-out">
		<% else %>
		<table class="table table-condensed table-striped">
		<% end %>
			<thead>
				<th></th>
				<th>Contract year</th>
				<th>Contracted to</th>
				<th>Salary</th>

			</thead>
			<tbody>
				<% @contract.subcontracts.order(:contract_year).each do |sub| %>
					<tr>
						<td></td>
						<td><%= sub.contract_year %></td>
						<td><%= link_to sub.team.team_name, sub.team %></td>
						<td>$<%= sub.salary_amount %>
							<% if sub.this_is_an_extension %>
								<i class="fa fa-plus-circle"></i> 
							<% end %>

							<% if sub.this_is_a_franchise_tag %>
								<i class="fa fa-tag"></i>
							<% end %>
						</td>
					</tr>
				<% end %>
				<tr>
					<td></td>
					<td colspan="3"><i class="fa fa-pencil-square-o fa-lg"></i> <%= link_to "Edit", edit_contract_path(@contract) %></td>
				</tr>
			</tbody>
		</table>
		<%= render "/contracts/contract_clauses_key" %>
		<p><%= link_to "View " + @contract.player.full_name + "'s information", @contract.player %>
	</div>
</div>