<%= simple_form_for :message, url: :messages do |f| %>
  <%= f.input :recipient, collection: current_members, prompt: "Select your recipient"  %>
  <%= f.input :subject %>
  <%= f.input :body, as: :text %>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
    <%= submit_tag 'Cancel', type: :reset, class: 'btn btn-danger' %>
  </div>
<% end %>
