<p class="h2 margin-bottom-1em"><%= conversation.subject %>
 
<small>A conversation with
<% conversation.participants.each do |participant| %>
 <% unless participant == current_user %>
  <%= link_to participant.display_name, participant.team %>, last updated on <%= conversation.updated_at.strftime("%a, %m/%e/%Y @ %I:%M %p") %>
 <% end %>
<% end %>
</small>
</p>
<%= content_tag_for(:div, conversation.receipts_for(current_user), class: "well well-sm") do |receipt| %>
 <% message = receipt.message %>

 <%= simple_format h message.body %>
 <p><small>Sent by <%= link_to message.sender.display_name, message.sender.team %> @ <%= message.updated_at.strftime("%I:%M %p on %a, %m/%e/%Y ") %></small></p>
 
<% end %>

 
<%= render 'messages/form', conversation: conversation %>