<% content_for :title, "#{@team.team_name}'s #{@budget.year} budget" %>
<% content_for :section_subtitle, "" %>

<p class="h1 margin-bottom-1em">
  $<%= @budget.calculated_amount %>
</p>

<% if @stipulations.count > 0 %>
<hr />
	<p class="h3 margin-bottom-1em"><i class="fa fa-dot-circle-o"></i> Trade stipulations affecting this budget:</p>
		<% @stipulations.each do |stip| %>
			<p>

			<% if stip.trade.trader1_id == @budget.team.id %>
				<% if stip.trade_direction == "to" %>
					<span class="label label-danger margin-right-1em"><i class="fa fa-minus"></i><i class="fa fa-usd fa-fw"></i></span>
					<strong>$<%= stip.terms %> of cap space</strong> for the <%= stip.year %> season <%= stip.trade_direction %>
				<% else %>
					<span class="label label-success margin-right-1em"><i class="fa fa-plus"></i><i class="fa fa-usd fa-fw"></i></span>
					<strong>$<%= stip.terms %> of cap space</strong> for the <%= stip.year %> season <%= stip.trade_direction %> 
				<% end %>
			<% else %>
				<% if stip.trade_direction == "to" %>
					<span class="label label-success margin-right-1em"><i class="fa fa-plus"></i><i class="fa fa-usd fa-fw"></i></span>
					<strong>$<%= stip.terms %> of cap space</strong> for the <%= stip.year %> season <%= stip.trade_direction %>
				<% else %>
					<span class="label label-danger margin-right-1em"><i class="fa fa-minus"></i><i class="fa fa-usd fa-fw"></i></span>
					<strong>$<%= stip.terms %> of cap space</strong> for the <%= stip.year %> season <%= stip.trade_direction %> 
				<% end %>
			<% end %>
	    	

	    	<% if stip.trade.trader1_id == @team.id %>
	    		<%= link_to Team.find(stip.trade.trader2_id).team_name, Team.find(stip.trade.trader2_id) -%>
	    	<% else %>
	    		<%= link_to Team.find(stip.trade.trader1_id).team_name, Team.find(stip.trade.trader1_id) -%>
	    	<% end %>.
	    	<blockquote><%= link_to stip.trade do  %><p><i class="fa fa-exchange"></i>  View the full trade<% end %></p></blockquote>
	    </p>
	    
		<% end %>
<% end %>

<% if current_user %>
	<% if can? :manage, @budget %>
		<p>
			<%= link_to 'Edit', edit_team_budget_path(@team, @budget) %> |
			<%= link_to 'Back', team_budgets_path %>
		</p>
	<% end %>
<% end %>