<%= labeled_form_for @user, :html => { :multipart => true, :class => "form-horizontal" } do |f| %>
  <%= f.error_messages %>

  <%= f.text_field :email, class: 'form-control' %>
  <%= f.text_field :display_name, label: "Full name", class: 'form-control' %>
  <%= f.password_field :password, class: 'form-control' %>
  <%= f.password_field :password_confirmation, label: "Confirm", class: 'form-control' %>
  <%= f.fields_for :team do |builder| %>
    <%= render 'team_fields', f: builder %>
   <%end %>
  <div class="col-lg-9 col-lg-offset-3">
    Current avatar:<br />
	<%= image_tag @user.avatar.url(:thumb) %><br /><br />

  </div>
  <%= f.file_field :avatar, label: "Avatar", class: 'form-control' %>

  <% if current_user %>
    <% if current_user.role == "admin" %>
	  <%= f.check_box :is_current, label: 'Currently in the league?' %> 
		<%= f.collection_select(:role, User::ROLES, :to_s, :humanize, {}, {:class => "form-control"}) %> 
	  <% end %>
	<% end %>
  	<%= f.submit class: "btn btn-success btn-large" %>
<% end %>