<div class="panel-heading">
	<p class="panel-title bold"><a name="<%= user.display_name.parameterize %>"></a><%= user.display_name %>'s information</p>
</div>
<div class="panel-body">
	<div class="row">
		<div class="col-md-9">
			<p class="h1" style="line-height: .5em; margin-top: .5em"><% if user.team %>
				<%= link_to user.team.team_name, user.team %><br />
				<small class="h5">View roster/contracts and other team information</small>
			<% else %>
				No team.
			<% end %></p>
		</div>
		<div class="col-md-3"><%= image_tag user.avatar(:thumb), :border => 0, :class => "img-responsive" %></div>
	</div>
</div>
	
<%= render 'payout_awards_table', user: user %>
	
	
