<div class="panel-heading">
	<p class="panel-title bold"><a id="<%= user.display_name %>"></a><%= user.display_name %>'s information</p>
</div>
<div class="panel-body">
	<div class="row">
		
		<div class="col-xs-9">
				<p class="headline"><% if user.team %>
					<%= link_to user.team.team_name, user.team %>
				<% else %>
					No team.
				<% end %></p>
		</div>
		<div class="col-xs-3 bold"><%= image_tag user.avatar(:thumb), :border => 0, :class => "img-responsive" %></div>
		<hr />
	</div>
	
	<%= render 'payout_awards_table', :user => user %>
	
	<% if current_user %>
	<div class="row margin-top-1em">
		<div class="col-md-11">
			<p><span class="glyphicon glyphicon-pencil"></span> <%= link_to "Edit this member", edit_user_path(user) %></p>
		</div>
	</div>
	<% end %>