<%= form_for(@super_bowl) do |f| %>
  <% if @super_bowl.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@super_bowl.errors.count, "error") %> prohibited this super_bowl from being saved:</h2>

      <ul>
      <% @super_bowl.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @super_bowl.new_record? %>
    <div class="field">
      <%= f.label :year %><br />
      <%= f.text_field :year, value: current_year %>
    </div>
  <% else %>
    <div class="field">
      <%= f.label :year %><br />
      <%= f.text_field :year %>
    </div>
  <% end %>  
  <div class="field">
    <%= f.label :nfl_team1_id, "AFC team" %><br />
    <%= f.select(:nfl_team1_id, NflTeam.afc.map {|c| [c.full_team_name, c.id]}, { :include_blank => true }, { :class => "form-control" })%><br />
  </div>
  <div class="field">
    <%= f.label :nfl_team2_id, "NFC team" %><br />
    <%= f.select(:nfl_team2_id, NflTeam.nfc.map {|c| [c.full_team_name, c.id]}, { :include_blank => true }, { :class => "form-control" })%><br />
  </div>
  
  <div class="field">
    <%= f.label :tie_breaker %><br />
    <%= f.check_box :tie_breaker %>
  </div>

  <div class="field">
    <%= f.label :nfl_team1_final_score, "AFC team final score" %><br />
    <%= f.text_field :nfl_team1_final_score %>
  </div>
  <div class="field">
    <%= f.label :nfl_team2_final_score, "NFC team final score" %><br />
    <%= f.text_field :nfl_team2_final_score %>
  </div>
  <div class="field">
    <%= f.label :nfl_winner_id %><br />
    <%= f.select(:nfl_winner_id, NflTeam.all.map {|c| [c.full_team_name, c.id]}, { :include_blank => true }, { :class => "form-control" })%><br />
  </div>


  <div class="field">
    <%= f.label :dopr_winner_id %><br />
    <%= f.select(:dopr_winner_id, Team.current_league_members.map {|c| [c.team_name, c.id]}, { :include_blank => true }, { :class => "form-control" })%><br />
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
