<% content_for :title, "Super Bowls" %>
<% content_for :section_subtitle, "All past league Super Bowl information." %>



<div class="row">
    <div class="col-md-9">
        <div class="table-responsive">
            <table class="table table-striped"> 
                <thead>
                    <tr>
                        <th></th>
                        <th>Year</th>
                        <th>AFC Team</th>
                        <th>NFC Team</th>
                        <th>AFC score</th>
                        <th>NFC score</th>
                        <th>NFL winner</th>
                        <th>DoPR winner</th>
                    </tr>
                </thead>
                <tbody>
                    <% @super_bowls.each do |sb| %>
                        <tr>
                            <td><i class="fa fa-ticket"></i></td>
                            <td><%= link_to sb.year, sb %></td>
                            <td><%= sb.afc_team.full_team_name %></td>
                            <td><%= sb.nfc_team.full_team_name %></td>
                            <td><%= sb.nfl_team1_final_score %></td>
                            <td><%= sb.nfl_team2_final_score %></td>
                            <td><%= sb.nfl_winner.full_team_name %></td>
                            <td><%= link_to sb.dopr_winner.team_name, sb.dopr_winner %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div><!-- end of col-md-8 -->

    <div class="col-md-3">
        <br />
        <% if current_user %>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="panel-title"><a href="/members"><i class="fa fa-cog"></i> GM actions</a></p>
                </div>
                <div class="panel-body"> 
                    <%= render '/teams/gm_actions_super_bowl_picks' %>
                </div>
            </div><!-- end of panel -->
        <% end %>
    </div><!-- end of col-md-3-->   
    
</div>
