<p id="notice"><%= notice %></p>


<p>
  <b>Year</b>
  <%= @super_bowl.year %>
</p>

<p>
  <b>Nfl team1:</b>
  <%= @super_bowl.nfl_team1_id %>
</p>

<p>
  <b>Nfl team2:</b>
  <%= @super_bowl.nfl_team2_id %>
</p>

<p>
  <b>Tie breaker:</b>
  <%= @super_bowl.tie_breaker %>
</p>

<p>
  <b>Nfl team1 final score:</b>
  <%= @super_bowl.nfl_team1_final_score %>
</p>

<p>
  <b>Nfl team2 final score:</b>
  <%= @super_bowl.nfl_team2_final_score %>
</p>

<p>
  <b>Nfl winner:</b>
  <%= @super_bowl.nfl_winner_id %>
</p>

<p>
  <b>Dopr winner:</b>
  <%= @super_bowl.dopr_winner_id %>
</p>
<% if current_user %>
<p>
      <% unless @current_user_submitted %>
        No pick entered yet. <%= link_to "Submit your pick now", new_super_bowl_pick_path %>.
      <% else %>
        You picked <%= @my_pick.nfl_team.full_team_name %>
      <% end %>
    
</p>
<% end %>
<p class="h2">Current picks</p>
<% unless @picks.empty? %>
<ul>
  <% @picks.each do |p| %>
    <li><%= link_to p.team.team_name, p.team %> chose <%= link_to p.nfl_team.full_team_name, p.nfl_team %> [<%= link_to "pick", p %>]</li>
  <% end %>
</ul>
<% else %>
<p>No picks submitted yet</p>
<% end %>
<%= link_to 'Edit', edit_super_bowl_path(@super_bowl) %> |
<%= link_to 'Back', super_bowls_path %>
