<%= form_for([@team, @draft_roster]) do |f| %>
  <% if @draft_roster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@draft_roster.errors.count, "error") %> prohibited this draft_roster from being saved:</h2>

      <ul>
      <% @draft_roster.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
  <% if @draft_roster.new_record? %>
    <%= f.hidden_field :team_id, value: @team.id %>
  <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
