<h1>Listing draft_rosters</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Team</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @draft_rosters.each do |draft_roster| %>
  <tr>
    <td><%= draft_roster.name %></td>
    <td><%= draft_roster.team_id %></td>
    <td><%= link_to 'Show', draft_roster %></td>
    <td><%= link_to 'Edit', edit_draft_roster_path(draft_roster) %></td>
    <td><%= link_to 'Destroy', draft_roster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Draft roster', new_draft_roster_path %>
