<% content_for :title, "#{@team.team_name}'s draft rosters" %>
<% content_for :section_subtitle, "Create watch lists for players for the draft or whenever" %>

<%= render 'team_full_list' %>

<table>
  <tr>
    <th>Name</th>
    <th>Team</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @draft_rosters.each do |draft_roster| %>
  <tr>
    <td><%= draft_roster.name %></td>
    <td><%= draft_roster.team_id %></td>
    <td><%= link_to 'Show', team_draft_roster_path(@team, draft_roster) %></td>
    <td><%= link_to 'Edit', edit_team_draft_roster_path(@team, draft_roster) %></td>
    <td><%= link_to 'Destroy', [@team, draft_roster], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Draft roster', new_team_draft_roster_path %>
