<% content_for :title, "Draft Roster: #{@draft_roster.name}" %>
<% content_for :section_subtitle, "Drag and drop listed players below to order them as you like." %>


<ul id="draft-roster-players" data-update-url="<%= sort_roster_spots_url %>">
	<% @roster_spots.each do |roster_spot| %>
		<%= content_tag_for :li, roster_spot do %>
			<span class="handle">[drag]</span>
			<%= link_to h(roster_spot.player.full_name), roster_spot %>: <strong>$<%= roster_spot.player.auction_value %></strong>
			<%= link_to "Delete", roster_spot, :confirm => 'Are you sure?', :method => :delete, :class => 'label label-danger' %>
		<% end %>
	<% end %>
</ul>

<% if @roster_spots.count == 0 %>
	<p class="h3 muted margin-bottom-1em">No one on this roster yet. Go to the <a href="/players">players</a> page and add some using the eyeball icon</p>
<% end %>

<%= link_to 'Edit', edit_team_draft_roster_path(@team, @draft_roster) %> |
<%= link_to 'Back', team_draft_rosters_path(@team) %>
