<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :event_date %><br />
    <%= f.text_field :event_date %>
  </div>
  <% if current_user %>
      <% if can? :manage, @event %>
        <div class="field">
    
          <%= f.label :event_type %><br />
          <%= f.select :event_type, {"Choose..." => "Choose...", "Global" => "Global", "Personal" => "Personal" }, {}, {:class => 'form-control'} %>
        </div>
    <% end %>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

  <% if @event.new_record? %>
    <%= f.hidden_field :team_id, value: current_user.team.id %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
