<% content_for :title, "Events" %>
<% content_for :section_subtitle, "All global league events/remeinders and all personal events set" %>

<div class="row">
    <div class="col-md-12">

    <div>
        <a href="/events/new" class="btn btn-success"><i class="fa fa-plus-circle"></i> New Event</a>
    </div>
        <div id="events">
            <h2 id="month">
                <%= link_to "<", date: @date.prev_month %>
                <%= @date.strftime("%B %Y") %>
                <%= link_to ">", date: @date.next_month %>
            </h2>
            <%= calendar @date do |date| %>
                <%= date.day %>
                <% if @events_by_date[date] %>
                    <ul>
                        <% @events_by_date[date].each do |event| %>
                            <li><%= link_to event.title, event %></li>
                        <% end %>
                    </ul>
                <% end %>
            <% end %>
        </div>
    </div>
</div>