<fieldset class="margin-top-2em">
	
	<% if current_user %>
    <% if current_user.role == "admin" %>
			<div class="form-group">
				<%= f.label :contracted_team, class: 'col-lg-3 control-label' %>
				<div class="col-lg-9">
					<%= f.select(:contracted_team, Team.current_league_members.map {|c| [c.team_name, c.id]}, { :include_blank => true, :prompt => "Select" }, {class: "form-control"}) %>
				</div>
			</div>
		<% else %>
			<%= f.hidden_field :contracted_team, value: current_user.team.id %>
		<% end %>
	<% end %>
	<div class="form-group">
		<%= f.label :contract_start_year, class: 'col-lg-3 control-label' %>
		<div class="col-lg-9">

		<% if current_user.role == "admin" %>
			<%= f.text_field :contract_start_year, value: current_year, class: 'form-control' %>
		<% else %>
			<%= f.text_field :faux_contract_start_year, value: current_year, class: 'form-control disabled', disabled: true %>
			<%= f.hidden_field :contract_start_year, value: current_year %>
		<% end %>
		</div>
	</div>

	<%= f.hidden_field :contract_length, class: 'form-control', value: 1 %>

	<div class="form-group">
		<div class="col-lg-offset-3 col-lg-9">
			<label class="checkbox">
				<%= f.check_box :is_drafted, class: "disabled", disabled: true %> Drafted?
			</label>
		</div>
	</div>
</fieldset>