<%= form_for @player, html: { multipart: true, class: "form-horizontal" } do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


	<div class="form-group">
    	<%= f.label :full_name, class: 'col-lg-3 control-label' %>
		<div class="col-lg-9">
	    	<%= f.text_field :full_name, class: 'form-control' %>
		</div>
  	</div>
  	<div class="form-group">
		<%= f.label :nfl_team,  "NFL team (shorthand)", class: 'col-lg-3 control-label' %>
		<div class="col-lg-9">
			<%= f.text_field :nfl_team, class: 'form-control' %>
		</div>
  	</div>
	<div class="form-group">
    	<%= f.label :position, class: 'col-lg-3 control-label' %>
    	<div class="col-lg-9">
			<%= f.text_field :position, class: 'form-control' %>
		</div>
  	</div>
	<div class="form-group">
    	<%= f.label :auction_value, class: 'col-lg-3 control-label' %>
    	<div class="col-lg-9">
			<%= f.text_field :auction_value, class: 'form-control' %>
		</div>
  	</div>

	
		
	<%= f.fields_for :contracts do |builder| %>
  		<%= render 'contract_fields', f: builder %>
 	<% end %>
  	
  	<div class="form-group">
		<div class="col-lg-offset-3 col-lg-9">
	   	 <%= f.submit class: "btn btn-success btn-large" %>
		</div>
	</div>

<% end %>