<%= form_for @player, html: { multipart: true, class: "form-horizontal" } do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user %>
    <% if current_user.role == "admin" %>
    	<div class="form-group">
        <%= f.label :full_name, class: 'col-lg-3 control-label' %>
    		<div class="col-lg-9">
    	    	<%= f.text_field :full_name, class: 'form-control' %>
    		</div>
      </div>
      <div class="form-group">
    		<%= f.label :nfl_team,  "NFL team (shorthand)", class: 'col-lg-3 control-label' %>
    		<div class="col-lg-9">
    			<%= f.text_field :nfl_team, class: 'form-control' %>
    		</div>
      </div>
    	<div class="form-group">
        <%= f.label :position, class: 'col-lg-3 control-label' %>
        <div class="col-lg-9">
    			<%= f.text_field :position, class: 'form-control' %>
    		</div>
      </div>
    	<div class="form-group">
        <%= f.label :auction_value, class: 'col-lg-3 control-label' %>
        <div class="col-lg-9">
    			<%= f.text_field :auction_value, class: 'form-control' %>
    		</div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-3 col-lg-9">
          <label class="checkbox">
            <%= f.check_box :is_retired %> Retired?
          </label>
        </div>
      </div>

    <% else %>

      <div class="form-group">
        <%= f.label :full_name, class: 'col-lg-3 control-label' %>
        <div class="col-lg-9">
            <%= f.text_field :full_name, class: 'form-control disabled', disabled: true %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :nfl_team,  "NFL team (shorthand)", class: 'col-lg-3 control-label' %>
        <div class="col-lg-9">
          <%= f.text_field :nfl_team, class: 'form-control disabled', disabled: true %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :position, class: 'col-lg-3 control-label' %>
        <div class="col-lg-9">
          <%= f.text_field :position, class: 'form-control disabled', disabled: true %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :auction_value, class: 'col-lg-3 control-label' %>
        <div class="col-lg-9">
          <%= f.text_field :auction_value, class: 'form-control disabled', disabled: true %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-3 col-lg-9">
          <label class="checkbox">
            <%= f.check_box :is_retired, class: 'disabled', disabled: true %> Retired?
          </label>
        </div>
      </div>
    <% end %>
  <% end %>  
	
  <% unless @player.new_record? %>

  <p class="h2">Add a contract</p>    
    <div class="alert alert-warning" role="alert">
      <p><span class="label label-danger"><i class="fa fa-exclamation-circle"></i></span> Add only if no existing contract, existing contract was bought out or existing contract has expired</p>
    </div>
  		
  	<%= f.fields_for :contracts do |builder| %>
    		<%= render 'contract_fields', f: builder %>
   	<% end %>
  <% end %>
  	
  <div class="form-group">
		<div class="col-lg-offset-3 col-lg-9">
	   	 <%= f.submit class: "btn btn-success btn-large" %>
		</div>
	</div>

<% end %>