
			
			
			<% if current_user %>
				<% if can? :manage, @players %>
					<div class="col-md-5 col-md-offset-3">
			
						<div class="panel panel-danger">
							<div class="panel-heading">
				          		<p class="panel-title bold">Import players <small>only .csv accepted at this time.</small></p>
								<small class="muted">Download full list in <%= link_to ".csv", players_path(format: "csv") %> <!-- or <% link_to ".xsl", players_path(format: "xls") %> --></small>
				        	</div>
								<div class="panel-body">
										<%= form_tag import_players_path, :class => "form-inline", multipart: true do %>
										 <div class="form-group"> 
											<%= file_field_tag :file, :class => "form-control", :style => "width: 350px" %><br />
										</div>
										  	<%= submit_tag "Import", :class => "btn btn-danger btn-large" %>
									
										<% end %>
								</div>
						</div>
					</div>		
				<% end %>
			<% end %>
		
		
		
		</div><!-- end of row -->
			
				
			
			
		<div class="panel panel-default">
			<div class="panel-heading">
          <p class="panel-title bold">NFL personnel</p>
					<small class="muted">
						Download full list in <%= link_to ".csv", players_path(format: "csv") %> <!-- or <% link_to ".xsl", players_path(format: "xls") %> -->
					</small>
				
        	</div>
        	<div class="search-filters btn-group">
						<a href="/players" class="btn btn-default">All</a> 
						<a href="/players/free_agents" class="btn btn-default">FA</a>
						<a href="?utf8=✓&query=QB" class="btn btn-default">QB</a> 
						<a href="?utf8=✓&query=WR" class="btn btn-default">WR</a> 
						<a href="?utf8=✓&query=RB" class="btn btn-default">RB</a> 
						<a href="?utf8=✓&query=TE" class="btn btn-default">TE</a> 
						<a href="?utf8=✓&query=K" class="btn btn-default">K</a> 
						<a href="?utf8=✓&query=DEF" class="btn btn-default">DEF</a>
						<br />
        		<%= will_paginate @players, renderer: BootstrapPagination::Rails %>
        	</div>


        	<div class="table-responsive">
	        	<table cellspacing="0" cellpadding="0" border="0" class="table table-striped table-condensed" id="playersTable">
							<thead>
								<tr>
									<th></th>
									<th data-sort="string">Name</th>
									
									<th class="hidden-sm hidden-xs">Position</th>
									
									<th data-sort="int">Salary</th>
									<th data-sort="string">Auction</th>
									<th class="hidden-sm hidden-xs">Bye</th>
									<th>Owned by</th>
									<th><!-- contract link --></th>
									<% if current_user %>
										<th align="center">Watch</th>
									
										<% if can? :manage, @players %>
											<th></th>
											<th></th>
										<% end %>
									<% end %>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<% @players.each do |player| %>
								<tr>
									<td></td>
									<td><%= link_to player.full_name, player %></td>
									
									<td class="hidden-sm hidden-xs"><%= player.position %></td>
									
									<td><strong>
										<% if player.is_contracted? %>
											$<%= player.this_year.salary_amount %>
										<% end %>
									</strong></td>
									<td>$<%= player.auction_value %></td>
									<td class="hidden-sm hidden-xs"><%= player.bye_week %></td>
									<% if player.is_contracted? %>
										<td>
											<span class="label label-danger"><i class="fa fa-check-square-o fa-lg"></i></span> <%= link_to player.this_year.team.team_name, player.this_year.team %>	
										</td>
										<td>
											<%= link_to "Contract", player.current_contract, :class => "btn btn-primary btn-xs" %>
										</td>  
										
									<% else %>
										<td>
											<span class="label label-success">FA</span>
										</td>
										<td></td>
										

									<% end %>
									<% if current_user %>
										<td align="center">
											<% unless player.is_contracted? %>
												<a id="watch<%= player.id %>" class="watchable" data-container="body" data-toggle="popover" data-placement="top" data-html="true" data-title="<strong>Add to draft roster:</strong>" data-content='<%= render "draft_rosters/team_full_list", player: player %>'><i class="fa fa-eye"></i></a>
											<% end %>
										</td>
									
										<% if can? :manage, player %>
											<td><%= link_to edit_player_path(player) do %><i class="fa fa-pencil-square-o"></i><% end %></td>
											<td><%= link_to player, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-minus-circle"></i><% end %></td>
										<% end %>
									<% end %>
									<td></td>
								</tr>
								<% end %>
							</tbody>
				</table>
			</div>	
    </div><!-- end of panel -->
		<%= will_paginate @players, renderer: BootstrapPagination::Rails %>
	</div><!-- end of col-md-9 -->
	
</div><!-- end of row -->