<% content_for :title, "#{@player.full_name} (#{@player.position}) for #{@player.nfl_team}" %>
<% content_for :section_subtitle, "Player and contract information" %>

<div class="row">
	<div class="col-md-6">
		
		<% unless @player.is_contracted? %>
			<p class="h1">Free agent as of <%= current_year %></p>
			<% if current_user %>
				<p class="h4"><i class="fa fa-pencil-square-o fa-lg"></i> <%= link_to "Add a contract for #{@player.full_name}", edit_player_path(@player) %></p>
			<% end %>
			<hr />
		<% end %>

		<% if @contracts.count > 0 %>
			<p class="h1">Contracts</p>
			<% @contracts.each do |contract| %>
				<div class="panel panel-info margin-bottom-4em">
					<div class="panel-heading">
		          		
						<p class="panel-title bold">Contract started in <%= contract.contract_start_year %> for <%= contract.contract_length%> years</p>
					</div>
					
					<table class="table table-striped table-condensed">
						<thead>
							<tr>
								<th></th>
								<th>Year</th>
								<th>Team</th>
								<th>Amount</th>
							</tr>
						</thead>
						<tbody>
							<% contract.subcontracts.each do |sub| %>
								<tr>
									<td></td>
									<td><%= sub.contract_year %></td>
									<td><%= link_to sub.team.team_name, sub.team %> (<%= sub.team.user.display_name %>)</td>
									<td>$<%= sub.salary_amount %></td>
								</tr>
							<% end %>

							<% if contract.is_bought_out %>
								<tr>
									<td></td>
									<td colspan="3"><span class="label label-danger"><i class="fa fa-exclamation-circle fa-lg"></i></span> Contract bought out by 
										<%= link_to Team.find(contract.bought_out_by_team_id).team_name, Team.find(contract.bought_out_by_team_id) %>
									</td>
								</tr>
							<% end %>

							<% if current_user %>
								<tr>
									<td></td>
									<td colspan="3"><i class="fa fa-pencil-square-o fa-lg"></i> <%= link_to "Edit this contract for #{@player.full_name}", edit_contract_path(contract) %></td>
								</tr>
							<% end %>

						</tbody>
					</table>
				</div>	
			<% end %>
			
		
		<% end %>
		

	</div>
</div>