<% content_for :title, "#{@player.full_name} (#{@player.position}) for #{@player.nfl_team}" %>
<% content_for :section_subtitle, "Player and contract information" %>

<div class="row">
	<div class="col-md-6">
		
		<% unless @player.is_contracted? %>
			<p class="h1">Free agent as of <%= current_year %></p>
			<% if current_user %>
				<p class="h4"><i class="fa fa-pencil-square-o fa-lg"></i> <%= link_to "Add a contract for #{@player.full_name}", edit_player_path(@player) %></p>
					
			<% end %>
			<hr />
		<% end %>

		<% if @contracts.count > 0 %>
			<p class="h1">Contracts</p>
			
			<% @contracts.each do |contract| %>
				<% if contract.is_bought_out %>
					<div class="panel panel-warning margin-bottom-2em">
				<% else %>
					<div class="panel panel-info margin-bottom-2em">
				<% end %>
					<div class="panel-heading">
		          		
						<p class="panel-title bold">Contract started in <%= contract.contract_start_year %> for <%= contract.full_contract_length%> years
						<% if contract.is_extended %>
							<i class="fa fa-plus-circle white"></i> 
						<% end %>

						<% if contract.is_franchised %>
							<i class="fa fa-tag white"></i>
						<% end %>
						</p>
					</div>
					
					<table class="table table-striped table-condensed">
						<thead>
							<tr>
								<th></th>
								<th>Year</th>
								<th>Team</th>
								<th>Amount</th>
							</tr>
						</thead>
						<tbody>
							<% contract.subcontracts.order(:contract_year).each do |sub| %>
								<tr>
									<td></td>
									<td><%= sub.contract_year %>

									</td>
									<td><%= link_to sub.team.team_name, sub.team %> (<%= sub.team.user.display_name %>)</td>
									<td>$<%= sub.salary_amount %>
										<% if sub.this_is_an_extension %>
											<i class="fa fa-plus-circle"></i> 
										<% end %>

										<% if sub.this_is_a_franchise_tag %>
											<i class="fa fa-tag"></i>
										<% end %>
									</td>
								</tr>
							<% end %>

							

							<% if contract.is_bought_out %>
								<tr>
									<td></td>
									<td colspan="3"><span class="label label-danger"><i class="fa fa-exclamation-circle"></i></span> Contract bought out by 
										<%= link_to Team.find(contract.bought_out_by_team_id).team_name, Team.find(contract.bought_out_by_team_id) %>
									</td>
								</tr>
							<% end %>

							<% if current_user %>
								<tr>
									<td></td>
									<td colspan="3">
										<i class="fa fa-pencil-square-o fa-lg"></i> <%= link_to "Edit this contract for #{@player.full_name}", edit_contract_path(contract) %>
									</td>
								</tr>
							<% end %>

						</tbody>
					</table>
					
				</div>	
			<% end %>
			<p>
				<small class="bought-out">Bought out contract (60% of original contracted salary)</small><br />
				<small>
					<i class="fa fa-tag"></i> Franchised player<br />
					<i class="fa fa-plus-circle"></i> Extended contract
				</small>
			</p>
		
		<% end %>

		<% #if @player.is_contracted? && !@player.this_year.contract.is_extended && !@player.this_year.contract.is_franchised %>
			<!--<p class="h4">If <%#= @player.full_name %> was extended right now, it would cost $<%#= @player.to_extend_now %>-->
		<% #end %>

		<% if @player.is_contracted? %>
			<%= link_to "#{@player.full_name}'s current contract", @player.current_contract %>
			<ul>
				<% @player.current_contract.subcontracts.each do |sub| %>
					<li><%= sub.contract_year %> for <%= sub.salary_amount %> to <%= sub.team.team_name %></li>
				<% end %>
			</ul>
		<% end %>

		<% if @player.is_contracted? && !@player.this_year.contract.is_franchised %> 
			<p class="h4">If <%= @player.full_name %> was franchised right now...<br />
				<small>Top 5 <%= @player.position %>s based on current salary</small></p>
			<ul>
			<% @top_5_players_of_position.each do |player| %>
				<li><%= link_to player.full_name, player %> for $<%= player.this_year_salary %>
			<% end %>
			</ul>
			<p>Averages to <strong>$<%= @player.average_salaries(@top_5_players_of_position) %></strong> for <%= @player.full_name %>'s franchise year if the next salary progression value isn't more</p>
			<% end %>
	</div>
</div>