

<p>
  <b>Team:</b>
  <%= @team.team_name %>
</p>

<p>
  <b>Super bowl:</b>
  <%= @super_bowl_pick.super_bowl_id %>
</p>

<p>
  <b>Nfl team:</b>
  <%= @nfl_team.full_team_name %>
</p>

<p>
  <b>Combined total:</b>
  <%= @super_bowl_pick.combined_total %>
</p>


<%= link_to 'Edit', edit_super_bowl_pick_path(@super_bowl_pick) %> |
<%= link_to 'Back', super_bowl_picks_path %>
