<tr>
	<td></td>
	<td>$<%= salary.auction_value %></td>
	<td>$<%= salary.year2 %></td>
	<td>$<%= salary.year3 %></td>
	<td>$<%= salary.year4 %></td>
	<td>$<%= salary.year5 %></td>
	<td>$<%= salary.year6 %></td>
	<td>$<%= salary.year7 %></td>
	<td>$<%= salary.year8 %></td>
	<td>$<%= salary.year9 %></td>
	<td>$<%= salary.year10 %></td>
	<td>$<%= salary.year11 %></td>
	<td>$<%= salary.year12 %></td>
	<td>$<%= salary.year13 %></td>
	<td>$<%= salary.year14 %></td>
	<td>$<%= salary.year15 %></td>
	<td>$<%= salary.year16 %></td>
	<td>$<%= salary.year17 %></td>
	<td>$<%= salary.year18 %></td>
	<td>$<%= salary.year19 %></td>
	<td>$<%= salary.year20 %></td>
</tr>