<tr>
	<td><%= f.text_field :auction_value %></td>
	<td><%= f.text_field :year2 %></td>
	<td><%= f.text_field :year3 %></td>
	<td><%= f.text_field :year4 %></td>
	<td><%= f.text_field :year5 %></td>
</tr>