<% content_for :title, "Salary progressions" %>
<% content_for :section_subtitle, "The chart of contract costs for 20 years out based on auction value." %>


<% if current_user %>
	<% if can? :manage, @salary_progressions %>
	<hr />
		<div class="row">
			<div class="col-md-5">

				<div class="panel panel-danger margin-bottom-4em">
					<div class="panel-heading">
		          		<p class="panel-title bold">Import salary progressions <small class="muted" style="font-weight: normal;">only .csv accepted at this time.</small></p>
						<small class="muted">Download full list in <%= link_to ".csv", salary_progressions_path(format: "csv") %></small>
		        	</div>
						<div class="panel-body">
								<%= form_tag import_salary_progressions_path, class: "form-inline", multipart: true do %>
								 <div class="form-group"> 
									<%= file_field_tag :file, class: "form-control", style: "width: 350px" %><br />
								</div>
								  	<%= submit_tag "Import", class: "btn btn-danger btn-large" %>
						
								<% end %>
						</div>
				</div>
			</div>
		</div>	
	<% end %>
<% end %>


<div class="row">
	<div class="col-md-12"><br />
		
	
		<div class="panel panel-default">
			<div class="panel-heading">
      		<p class="panel-title"><i class="fa fa-money"></i> Salary progressions</p>
    	</div>
    	<div class="table-responsive">
	      <table cellspacing="0" cellpadding="0" border="0" class="table table-condensed table-striped table-hover">
					<tr>
						<th></th>
						<th>Auction</th>
						<th>Y2</th>
						<th>Y3</th>
						<th>Y4</th>
						<th>Y5</th>
						<th>Y6</th>
						<th>Y7</th>
						<th>Y8</th>
						<th>Y9</th>
						<th>Y10</th>
						<th>Y11</th>
						<th>Y12</th>
						<th>Y13</th>
						<th>Y14</th>
						<th>Y15</th>
						<th>Y16</th>
						<th>Y17</th>
						<th>Y18</th>
						<th>Y19</th>
						<th>Y20</th>
						<% if current_user %>
							<% if can? :manage, @salary_progressions %>
								<td></td>
							<% end %>
						<% end %>
					</tr>
					
					<% @salary_progressions.each do |salary| %>
						<% if current_user %>
							<% if can? :manage, salary %>
								<tr>
									<td></td>
									<td><strong>$<%= best_in_place_if current_user, salary, :auction_value, :html_attrs => { :style => 'width: 80px' } %></strong></td>
									<td>$<%= best_in_place_if current_user, salary, :year2, :html_attrs => { :style => 'width: 80px' } %></td>
									<td>$<%= best_in_place_if current_user, salary, :year3, :html_attrs => { :style => 'width: 80px' } %></td>
									<td>$<%= best_in_place_if current_user, salary, :year4, :html_attrs => { :style => 'width: 80px' } %></td>
									<td>$<%= best_in_place_if current_user, salary, :year5, :html_attrs => { :style => 'width: 80px' } %></td>
									<td>$<%= best_in_place_if current_user, salary, :year6, :html_attrs => { :style => 'width: 80px' } %></td>
									<td>$<%= best_in_place_if current_user, salary, :year7, :html_attrs => { :style => 'width: 80px' } %></td>
									<td>$<%= best_in_place_if current_user, salary, :year8, :html_attrs => { :style => 'width: 80px' } %></td>
									<td>$<%= best_in_place_if current_user, salary, :year9, :html_attrs => { :style => 'width: 80px' } %></td>
									<td>$<%= best_in_place_if current_user, salary, :year10, :html_attrs => { :style => 'width: 80px' } %></td>
									<td>$<%= best_in_place_if current_user, salary, :year11, :html_attrs => { :style => 'width: 80px' } %></td>
									<td>$<%= best_in_place_if current_user, salary, :year12, :html_attrs => { :style => 'width: 80px' } %></td>
									<td>$<%= best_in_place_if current_user, salary, :year13, :html_attrs => { :style => 'width: 80px' } %></td>
									<td>$<%= best_in_place_if current_user, salary, :year14, :html_attrs => { :style => 'width: 80px' } %></td>
									<td>$<%= best_in_place_if current_user, salary, :year15, :html_attrs => { :style => 'width: 80px' } %></td>
									<td>$<%= best_in_place_if current_user, salary, :year16, :html_attrs => { :style => 'width: 80px' } %></td>
									<td>$<%= best_in_place_if current_user, salary, :year17, :html_attrs => { :style => 'width: 80px' } %></td>
									<td>$<%= best_in_place_if current_user, salary, :year18, :html_attrs => { :style => 'width: 80px' } %></td>
									<td>$<%= best_in_place_if current_user, salary, :year19, :html_attrs => { :style => 'width: 80px' } %></td>
									<td>$<%= best_in_place_if current_user, salary, :year20, :html_attrs => { :style => 'width: 80px' } %></td>							
									<td>
											<%= link_to edit_salary_progression_path(salary) do %>
												<i class="fa fa-pencil-square-o fa-lg"></i>
											<% end %>
									</td>
								</tr>
							<% else %>
								<%= render 'non_admin_table_row', salary: salary %>
							<% end %>

						<% else %>
							<%= render 'non_admin_table_row', salary: salary %>
						<% end %>
					<% end %>
					
					<% if current_user %>
						<% if can? :manage, @salary_progressions %>
							<tr>
								<td></td>
								<td colspan="21"><span class="glyphicon glyphicon-plus-sign"></span> <%= link_to 'New salary progression', new_salary_progression_path %></td>
							</tr>
						<% end %>
					<% end %>
				</table>
				</div>
      </div><!-- end of panel -->
		<%= render 'layouts/back_to_top_link' %>

	</div><!-- end of col-md-8 -->
	
</div>