<%= labeled_form_for @nfl_team, :html => { :multipart => true, :class => "form-horizontal" } do |f| %>
  <%= f.error_messages %>
  
  <%= f.text_field :city, class: 'form-control' %>  
  <%= f.text_field :shorthand, class: 'form-control' %>
  <%= f.text_field :mascot, class: 'form-control' %>
  <%= f.text_field :conference, class: 'form-control' %>
  <%= f.text_field :bye_week, class: 'form-control' %>
  <div class="col-lg-9 col-lg-offset-3">
    Current avatar:<br />
    <%= image_tag @nfl_team.avatar.url(:thumb) %><br /><br />

  </div>
  <%= f.file_field :avatar, label: "Image", class: 'form-control' %>
  
  <%= f.submit class: "btn btn-success btn-large" %>
<% end %>
