<% content_for :title, "Administrative control" %>
<% content_for :section_subtitle, "All site content is presented below and most of it can be edited inline. Some things must be done by clicking the \"Edit\" button" %>

<div class="row">
	<div class="col-md-12"><p class="headline"><a href="/" style="color: #333;">Announcements</a></p></div>
  	<div class="col-md-12">               
    	<%= render 'admin_feature_listing_header' %>
        <% @announcements.each do |feature| %>
 			<%= render 'admin_feature_listing', :feature => feature %>
		<% end %>
		<br />
		<hr />
	</div>
</div>

<div class="row ">
	<div class="col-md-12"><p class="headline"><a href="/constitution" style="color: #333;">Articles of the constitution</a></p></div>
  	<div class="col-md-12">               
    	<%= render 'admin_feature_listing_header' %>
       	<% @constitution_features.each do |feature| %>
 			<%= render 'admin_feature_listing', :feature => feature %>
		<% end %>
		<br />
		<hr />
	</div>
</div>

<div class="row ">
	<div class="col-md-12"><p class="headline"><a href="/faqs" style="color: #333;">FAQs</a></p></div>
  	<div class="col-md-12">               
    	<%= render 'admin_feature_listing_header' %>
       	<% @faqs.each do |feature| %>
 			<%= render 'admin_feature_listing', :feature => feature %>
		<% end %>
		<br />
		<hr />
	</div>
</div>


<div class="row ">
	<div class="col-md-12"><p class="headline"><a href="/polls" style="color: #333;">Facebook polls</a></p></div>
  	<div class="col-md-12">               
    	<%= render 'admin_feature_listing_header' %>
       	<% @facebook_polls.each do |feature| %>
 			<%= render 'admin_feature_listing', :feature => feature %>
		<% end %>
		<br />
		<hr />
	</div>
</div>


<div class="row ">
	<div class="col-md-12"><p class="headline"><a href="/members" style="color: #333;">Members</a></p></div>
  	<div class="col-md-12">               
       	<% @users.each do |user| %>
 			<%= render 'admin_user_management', :user => user %>
		<% end %>
		<br />
		<hr />
	</div>
</div>