<% content_for :title, "Announcements"%>

<div class="row margin-top-2em">
	<div class="col-md-12">
		<h1>Latest gossip</h1>
		<p class="lead">League/site announcements and other random information.</p>
		<hr />
		
		<% if current_user %>
		<%= render 'admin_control_panel' %>
		<% end %>
		
		<div class="row">
			<div class="col-md-8"><br />
			
	   		<% @announcements.each do |announce| %>
	      	<div class="margin-bottom-2em">
	       		<% if announce.avatar? %>
					<%= image_tag(announce.avatar.url(:max200), :border => 0, :class => 'img-rounded') %>
				<% end %>
	        	<p class="headline uppercase homepage-headline"><%= best_in_place_if current_user, announce, :title, :html_attrs => { :style => 'width: 600px' } %></p>
          		<p class="margin-bottom-1em"><small class="muted"><%= l announce.created_at, format: :short %></small></p>
				<%= best_in_place_if current_user, announce, :content, :type => :textarea, :html_attrs => { :style => 'width: 600px' }, :display_with => lambda { |v| textilize(v).html_safe } %>
			
				<% if current_user %>
					<p><span class="glyphicon glyphicon-pencil"></span>  <%= link_to 'Edit announcement', edit_feature_path(announce) %></p>
				<% end %>

	        </div>
			<hr />
			<% end %>
		
	</div><!-- end of col-md-8 -->
	
	<div class="col-md-4"><br />
		<div class="panel panel-success">
			<div class="panel-heading">
          		<p class="panel-title bold">Current league members</p>
        	</div>
        	<div class="panel-body">
				<ul>
					<% @users.each do |user|%>
						<li><%= link_to user.display_name, "/members/#" + user.display_name %>
							<% if user.team %>
								(<%=  user.team.team_name %>)
							<% else %>
								No team.
							<% end %>
						</li>
					<% end %>
				</ul>
			</div>
			
		</div><!-- end of panel -->
	</div><!-- end of col-md-4-->
</div><!-- end of row -->