<% content_for :title, "Announcements"%>

<div class="row margin-top-2em">
	<div class="col-md-12">
		<h1>Latest gossip</h1>
		<p class="lead">League/site announcements and other random information.</p>
		<hr />
		
		<div class="row">
			<div class="col-md-8"><br />
			
	   		<% @announcements.each do |announce| %>
	      	<div class="margin-bottom-2em">
	       		<% if announce.avatar? %>
					<%= image_tag(announce.avatar.url(:max200), :border => 0, :class => 'img-rounded') %>
				<% end %>
	        	<p class="h3 homepage-headline"><%= best_in_place_if current_user, announce, :title, :html_attrs => { :style => 'width: 740px' } %></p>
          		<p class="margin-bottom-1em"><small class="muted"><%= l announce.created_at, format: :short %> by <img src="<%= announce.user.avatar(:tiny) %>" border="0" style="vertical-align: text-top;" /> <%= link_to announce.user.display_name, "/members/#" + announce.user.display_name %></small></p>
				<%= best_in_place_if current_user, announce, :content, :type => :textarea, :html_attrs => { :style => 'width: 740px' }, :display_with => lambda { |v| textilize(v).html_safe } %>
			
				<% if current_user %>
					<p><span class="glyphicon glyphicon-pencil"></span>  <%= link_to 'Edit announcement', edit_feature_path(announce) %></p>
				<% end %>

	        </div>
			<hr />
			<% end %>
		
	</div><!-- end of col-md-8 -->
	
	<div class="col-md-4"><br />
		<div class="panel panel-success">
			<div class="panel-heading">
          		<p class="panel-title bold">Current league members</p>
        	</div>
        	
				<table class="table table-striped" cellpadding="0" cellspacing="0" border="0">

					<% @users.each do |user|%>
						<%= render '/users/member_list_nav', :user => user %>
					<% end %>
				</table>
			
			
		</div><!-- end of panel -->
	</div><!-- end of col-md-4-->
</div><!-- end of row -->