<% content_for :title, "Facebook polls" %>
<% content_for :section_subtitle, "An archive of all polls posted to Facebook that resulted in league rule/constitution changes." %>


		
<div class="row">
	<div class="col-md-4 col-md-push-8">

		<div class="panel panel-default">
			<div class="panel-heading">
             		<p class="panel-title"><i class="fa fa-tasks"></i> Facebook Poll Amendments</p>
           	</div>
           	<div class="panel-body">
             		<ol>
						<% @articles.each do |poll| %>
							<li><%= link_to poll.title, "#" + poll.title.parameterize %></li>
						<% end %>
				</ol>
           	</div>
		</div><!-- end of panel -->
	</div><!-- end of col-md-4 -->
	
	
	<div class="col-md-8 col-md-pull-4">
	
		<div class="panel-group" id="accordion">
		  
			<% @articles.each do |article| %>
			 	<div class="panel panel-default margin-bottom-2em">
			    	<div class="panel-heading">
			      		<p class="panel-title">
					        <i class="fa fa-tasks"></i> <a name="<%= article.title.parameterize %>"></a><a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= article.id %>">
					          <%= article.title %>
					        </a>
			      		</p>
			    	</div>
			    	<div id="collapse<%= article.id %>" class="panel-collapse collapse">
			      		<div class="panel-body">
			      			<% if article.avatar? %>
								<%= image_tag(article.avatar.url(:max720), :border => 0, :class => "img-polaroid margin-bottom-1em img-responsive") %>
							<% end %>
			        		<%= RedCloth.new(article.content).to_html.html_safe %>
			        		<% if current_user %>
								<% if can? :manage, article %>
									<br />
									<p><i class="fa fa-pencil-square-o"></i> <%= link_to 'Edit this article', edit_feature_path(article) %></p>
								<% end %>
							<% end %>
			      		</div>
			    	</div>
			  	</div>
				<% render 'layouts/back_to_top_link' %>
			<% end %>
		</div><!-- end of panel-group id accordion -->


	
	</div><!-- end of col-md-8 -->
</div>