<% content_for :title, "Season payouts"%>
<% content_for :section_subtitle, "A historical archive of awards and their winners for past seasons" %>


<div class="row">
	<div class="col-md-3 col-md-push-9"><br />
		<div class="panel panel-default">
			<div class="panel-heading">
          		<h3 class="panel-title">League Payouts by Year</h3>
        	</div>
        	<div class="panel-body">
				<ul>
					<% @payouts.each do |payout|%>
						<li><%= link_to payout.year.to_s + " Awards", "#" + payout.year.to_s %> </li>
					<% end %>
				</ul>
			</div>
		</div><!-- end of panel -->
	</div><!-- end of col-md-3-->
	
	
	<div class="col-md-9 col-md-pull-3"><br />
	<% @payouts.each do |payout| %>
	
		<div class="panel panel-success margin-bottom-4em">
			<div class="panel-heading">
          		<p class="panel-title bold"><a id="<%= payout.year %>"></a><%= payout.year %> Awards and Payouts</p>
        	</div>
        	<table cellspacing="0" cellpadding="0" border="0" class="table table-striped table-condensed">
				<tr>
					<th></th>
					<th>Award</th>
					<th>Winner</th>
					<th>Amount</th>
					<th>Notes</th>
				</tr>

				<% payout.awards.each do |award| %>
				<tr>
					<td></td>
					<td><%= award.payout.year %> <%= award.name %></td>
					<td>
						<% if award.user %>
							<%if current_user%>
								<%= image_tag award.user.avatar(:tiny), :border => "0" %> <%= best_in_place_if current_user, award, :user_id, :type => :select, :collection => User::list_user_options %>
							<% else %>
								<a href="/members/#<%= award.user.display_name %>"><%= image_tag award.user.avatar(:tiny), :border => "0" %></a> <a href="/members/#<%= award.user.display_name %>"><%= award.user.display_name %></a>
							<% end %>
						<% else %>
								<%if current_user%>
									<%= best_in_place_if current_user, award, :user_id, :type => :select, :collection => User::list_user_options %>
								<% else %>
									Unclaimed
								<% end %>
						<% end %>

					</td>
					<td>$<%= best_in_place_if current_user, award, :amount, :html_attrs => { :style => 'width: 30px' } %></td>
					<td><%= best_in_place_if current_user, award, :notes, :html_attrs => { :style => 'width: 100px' } %></td>
				</tr>
				<% end %>

				<% if current_user %>
				<tr>
					<td></td>
					<td colspan="4"><br />
						<p class="bold"><i class="fa fa-pencil-square-o fa-lg"></i> <%= link_to "Edit these payouts", edit_payout_path(payout) %></p>	
					</td>
				</tr>
				<% end %>
			
			</table>	
      	</div><!-- end of panel -->
		<%= render 'layouts/back_to_top_link' %>
	<% end %>
	</div><!-- end of col-md-9 -->
	
</div><!-- end of row -->