<%= form_for @trade, html: { class: "form-inline" } do |f| %>
  <% if @trade.errors.any? %>
    <div class="row">
      <div class="col-sm-9 col-sm-offset-2">
        <div id="error_explanation">
          <h2><strong><%= pluralize(@trade.errors.count, "error") %></strong> prohibited this trade from being saved:</h2>

          <ul>
          <% @trade.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
   
  <% if @trade.new_record? %> 
    <%= f.hidden_field :trader1_id, value: current_user.team.id %> <div id="trader1_team_name" style="display: none;"><%= current_user.team.team_name %></div>
    <%= render 'form_fields', f: f %>
  <% else %>
    <%= f.hidden_field :trader1_id %> <div id="trader1_team_name" style="display: none;"><%= Team.find(@trade.trader1_id).team_name %></div>

    <% if controller.action_name == 'edit' && current_user.team.id == @trade.trader2_id %>
      <p class="h3 margin-bottom-1em"><i class="fa fa-dot-circle-o"></i> Trade stipulations</p>

      <div class="stipulations-list margin-bottom-2em">
        <% @trade.stipulations.each do |stip| %>
           <%= render "stipulations", stip: stip %>
        <% end %>
      </div>

    <% else %>
      <%= render 'form_fields', f: f %>
    <% end %>

  <% end %>
  
  
  <p><% if @trade.new_record? %>
      <%= f.check_box :trader1_accepted, label: "Trade initiator: do you accept this trade?" %> Trade initiator: do you accept this trade?<br />
    <% else %>
      <% if current_user.team.id == @trade.trader1_id %>
        <%= f.check_box :trader1_accepted, label: "Trade initiator: do you accept this trade?" %> Trade initiator: do you accept this trade?<br />
      <% elsif current_user.team.id == @trade.trader2_id %>
        <%= f.check_box :trader2_accepted, label: "Trade recipient: do you accept this trade?" unless @trade.trader2_accepted %><br />
        <%= f.check_box :is_rejected, label: "Reject this trade?" unless @trade.trader2_accepted %>
        <br />
      <% end %>
    <% end %></p>

  <p><%= f.submit class: "btn btn-success" %></p>

<% end %>
