<%= labeled_form_for @trade, html: { class: "form-horizontal" } do |f| %>
  <% if @trade.errors.any? %>
    <div id="error_explanation">
      <h2><strong><%= pluralize(@trade.errors.count, "error") %></strong> prohibited this trade from being saved:</h2>

      <ul>
      <% @trade.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   
  <% if @trade.new_record? %> 
    <%= f.hidden_field :trader1_id, value: current_user.team.id %>
  <% else %>
    <%= f.hidden_field :trader1_id %>
  <% end %>

    
    <%= f.collection_select(:trader2_id, Team.active_teams, :id, :team_name, { prompt: "Select"}, {class: "form-control", style: "width: 250px;", label: "Trade with"}) %>

    
    <div class="row">
      <div class="col-sm-9 col-sm-offset-3">
        <%= f.fields_for :stipulations do |builder| %>
          <%= render 'stipulation_fields', f: builder %>
        <%end %> 
      </div>
    </div>
    <div class="col-md-9 col-md-offset-3 hidden-content margin-bottom-1em add_stipulation_link"><%= link_to_add_fields "+ Add stipulation", f, :stipulations %></div>

    <% unless @trade.new_record? %>
      <%= f.check_box :is_accepted, label: "Accept this trade?" %>

      <br />
    <% end %>
    <%= f.text_area :notes, class: "form-control", style: "height: 100px; width: 600px" %>
    <%= f.submit class: "btn btn-success" %>

<% end %>
