<%= labeled_form_for @trade, html: { class: "form-horizontal" } do |f| %>
  <% if @trade.errors.any? %>
    <div class="row">
      <div class="col-sm-9 col-sm-offset-2">
        <div id="error_explanation">
          <h2><strong><%= pluralize(@trade.errors.count, "error") %></strong> prohibited this trade from being saved:</h2>

          <ul>
          <% @trade.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
   
  <% if @trade.new_record? %> 
    <%= f.hidden_field :trader1_id, value: current_user.team.id %> <div id="trader1_team_name" style="display: none;"><%= current_user.team.team_name %></div>
    <%= render 'form_fields', f: f %>
  <% else %>
    <%= f.hidden_field :trader1_id %> <div id="trader1_team_name" style="display: none;"><%= Team.find(@trade.trader1_id).team_name %></div>

    <% if controller.action_name == 'edit' && current_user.team.id == @trade.trader2_id %>
      Trade with <%= Team.find(@trade.trader2_id).team_name %>

      <% @trade.stipulations.each do |stip| %>
        <p class="h4"><i class="fa fa-dot-circle-o"></i> Trade stipulation</p>
        <p><%= stip.stipulation_type %></p>
        <p><%= stip.trade_direction %></p>
        <p><%= stip.year %></p>
        <p><%= stip.terms if stip.stipulation_type != "Player" %></p>
        <p><%= Player.find(stip.player_id).full_name if stip.stipulation_type == "Player" %></p>
        <p><%= stip.rest_of_contract if stip.stipulation_type == "Player"  %></p>
        <p><%= stip.description %></p>
        <hr />
      <% end %>
    <% else %>
      <%= render 'form_fields', f: f %>
    <% end %>

  <% end %>

   
  


  
  
  <% if @trade.new_record? %>
    <%= f.check_box :trader1_accepted, label: "Trade initiator: do you accept this trade?" %><br />
  <% else %>
    <% if current_user.team.id == @trade.trader1_id %>
      <%= f.check_box :trader1_accepted, label: "Trade initiator: do you accept this trade?" %><br />
    <% elsif current_user.team.id == @trade.trader2_id %>
      <%= f.check_box :trader2_accepted, label: "Trade recipient: do you accept this trade?" %>
       
      <br />
    <% end %>
  <% end %>

  <%= f.submit class: "btn btn-success" %>

<% end %>
