<div class="stipulation fields">
	<!-- <i class="fa fa-dot-circle-o"></i> -->
	

	<%= f.select 	:stipulation_type, 
								[ 'Cap space', 'Draft spot', 'Player', 'Other' ], 
								{ prompt: "Type" }, 
								{ class: "form-control stipulation-type", style: "width: 150px; display: inline-block;", label: "Type" } %>


	<%= f.select 	:trade_direction, 
								[ 'from', 'to' ], 
								{ prompt: "Direction"}, 
								{ class: "form-control trade-direction", style: "width: 150px; display: inline-block;", label: "Direction", 
									data: { 
										container: "body",
										toggle: "popover",
										trigger: "static", 
										placement: "right",
										html: true
										} 
								} %>

	<div class="margin-top-1em"><%= f.text_field 	:year, class:'form-control', placeholder: "Year (yyyy)", style: "width: 100px; display: inline-block" %></div>

	<div class="player-trade-fields">
		<hr />
		<%= f.grouped_collection_select :player_id, Team.current_league_members, :unique_players, :team_name, :id, :full_name, { prompt: "Select"}, { class:'form-control filtered-players-select', style: "width 400px;" } %>
		<%= f.check_box :rest_of_contract %>
		<hr />
	</div>
	
	<div class="terms-field margin-top-1em">
		<div class="input-group">
      <div class="input-group-addon cap-space" style="display: none;">$</div>
      <div class="input-group-addon draft-spot" style="display: none;">in round #</div>
			<%= f.text_field	:terms, placeholder: "Numbers ONLY", class:'form-control' %>
			<div class="input-group-addon cap-space" style="display: none;">of cap space</div>
			<div class="input-group-addon draft-spot" style="display: none;">(specify the pick in the details box)</div>
		</div>

	</div>

	<div class="margin-top-1em margin-bottom-1em"><%= f.text_area :description, placeholder: "Details/notes about this stipulation such as which pick in whatever round is being traded.", class:'form-control', style: "height: 100px; width: 300px;" %></div>

	<p><%= f.hidden_field :_destroy %>
	  <%= link_to "[-] remove", '#', class: "remove_fields" %></p>
	
</div>
