<div class="table-responsive">
  <% if trades.count > 0 %>
    <table class="table table-condensed table-striped">
      <tr>
        <th width="5"></th>
        <th>Trade</th>
        <th></th>
        <th># of stip.</th>
        <th></th>
        <th>Accepted?</th>
        
        
        <% if current_user %>
          <% if can? :manage, @trades %>
            <th></th>
            <th></th>
          <% else %>
            <th></th>
            <th></th>
          <% end %>
        <% end %>
      </tr>

    <% trades.each do |trade| %>
      <tr>
        <td></td>
        <td>between <%= image_tag Team.find(trade.trader1_id).user.avatar(:tiny) if trade.trader1_id %> <%= link_to Team.find(trade.trader1_id).team_name, Team.find(trade.trader1_id) if trade.trader1_id %></td>
        <td>and <%= image_tag Team.find(trade.trader2_id).user.avatar(:tiny) if trade.trader2_id %> <%= link_to Team.find(trade.trader2_id).team_name, Team.find(trade.trader1_id) if trade.trader2_id %></td>
        <td><%= trade.stipulations.count %></td>
        <td>
          <%= link_to trade, class: "btn btn-info btn-xs" do %>
            <i class="fa fa-file-text"></i>
          <% end %>
        </td>
        <td>
          <% if trade.is_accepted %>
            <span class="label label-success"><i class="fa fa-check-square-o"></i></span>
          <% end %>
        </td>
        
        
      
        <% if current_user %>
          <% if can? :manage, trade %>
            <td><%= link_to edit_trade_path(trade), class: 'label label-warning' do -%><i class="fa fa-pencil-square-o"></i> Edit <% end %></td>
            <% if current_user.role == "admin" %>
              <td><%= link_to trade, :confirm => 'Are you sure?', method: :delete, class: 'label label-danger' do %><i class="fa fa-minus-circle"></i>  Delete<% end %></td>
              <% else %>
              <td></td>
            <% end %>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
    </table>
  <% else %>
    <table class="table table-condensed table-striped">
      <tr>
          <td width="5"></td>
          <td align="center"><p class="h3 muted margin-bottom-1em">No trades to show.</p></td>
      </tr>
    </table>
  <% end %>
</div>