<% content_for :title do %>
  Trade between <%= link_to @trader1.team_name, @trader1 %> and <%= link_to @trader2.team_name, @trader2 %>
<% end %>
<% content_for :section_subtitle do %>
  from <%= l @trade.created_at, format: :short %>
<% end %>




<p class="h3 margin-bottom-1em"><i class="fa fa-dot-circle-o"></i> Trade stipulations</p>

<div class="stipulations-list">
  <% @stipulations.each do |stip| %>
    <%= render "stipulations", stip: stip %>
  <% end %>


  <% unless @trade.notes.blank? %>
    <p class="h4">Notes</p>
    <%= RedCloth.new(@trade.notes).to_html.html_safe %>
  <% end %>

  <% unless @trade.is_accepted %>
    <% if can? :manage, @trade %>
      <%= link_to edit_trade_path(@trade), class: "btn btn-success margin-top-2em" do %>
        <i class="fa fa-pencil-square-o"></i> Edit trade
      <% end %>
    <% end %>
  <% end %>
</div>