<!DOCTYPE html>
<html lang="en">
<head>
  <title>Disciples of Philip Rivers | <%= yield(:title) %></title>

  	<%= include_gon %>
  	<%= stylesheet_link_tag 	"application", :media => "all" %>
  	<%= stylesheet_link_tag		"bootstrap.min", :media => "all" %>
	<%= stylesheet_link_tag     "bootstrap-theme.min", :media => "all" %>
	<%= stylesheet_link_tag     "bootstrap-extras", :media => "all" %>
	<%= stylesheet_link_tag     "docs.min", :media => "all" %>
  	<%= stylesheet_link_tag     "custom", :media => "all" %>

  	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  
 	<%= csrf_meta_tags %>


  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
 	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="../../assets/js/html5shiv.js"></script>
	      <script src="../../assets/js/respond.min.js"></script>
	    <![endif]-->

	<style type="text/css">
		@font-face {
		  font-family: 'Glyphicons Halflings';
		  src: url('/fonts/glyphicons-halflings-regular.eot');
		  src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
		}
	</style>

</head>
<body>
	<a id="top"></a>
 <!-- Fixed navbar -->
	    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="/">doprleague.info</a>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <!--<li><a href="/"><i class="fa fa-home fa-lg"></i> Home</a></li>-->
				
				
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-users"></i> Members <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/members"><i class="fa fa-list-alt"></i> Directory</a></li>
						<li><a href="#" style="cursor:default"><strong>Philip Division</strong></a></li>
						<% current_philip_members.each do |user|%>
							<li>
								<%= link_to(user.team) do %>
								<%= image_tag user.avatar.url(:tiny) %> <%= user.display_name  %> | <%= user.team.team_name unless user.team.blank? %>
								<% end %>
							</li>
						<% end %>
						<li><a href="#" style="cursor:default"><strong>Russell Division</strong></a></li>
						<% current_russell_members.each do |user|%>
							
							<li>
								<%= link_to(user.team) do %>
								<%= image_tag user.avatar.url(:tiny) %> <%= user.display_name  %> | <%= user.team.team_name unless user.team.blank? %>
								<% end %>
							</li>
						<% end %>
					</ul>
				</li>
				
	            
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-info-circle"></i> League info <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/constitution"><i class="fa fa-book"></i> Constitution</a></li>
						<li><a href="/polls"><i class="fa fa-tasks"></i> Facebook polls</a></li>
						<li><a href="/salary_progressions"><i class="fa fa-money"></i> Salary progressions</a></li>
						<li><a href="/contracts"><i class="fa fa-file-text"></i> Contracts</a></li>
						<li><a href="/payouts"><i class="fa fa-trophy"></i> Payouts &amp; awards</a></li>
						<li><a href="/standings"><i class="fa fa-list-ol"></i> All-time standings</a></li>
						<li><a href="/faqs"><i class="fa fa-question-circle"></i> FAQs</a></li>
					</ul>
				</li>
				<li><a href="/players"><i class="fa fa-bullhorn"></i> NFL Players</a></li>
				
				
	          </ul>

		        <%= form_tag players_path, :class => "navbar-form navbar-left", method: :get do %>
					<div class="form-group"> 
				    	<%= text_field_tag :query, params[:query], :class => "form-control", :placeholder => "Search players" %>
					</div>
					<%= submit_tag "Search", name: nil, :class => "btn btn-default" %>
			  	<% end %>

			  	<ul class="nav navbar-nav">
			  		<% if current_user %>
			  			<li><%= link_to (image_tag current_user.avatar.url(:tiny)) + " " + current_user.first_name, current_user.team %>
						<% if current_user.role == "admin" %>
							<li><a href="/admin"><i class="fa fa-cogs"></i> Admin</a></li>
						<% end %>

						<li><a href="<%= logout_path %>"><i class="fa fa-sign-out"></i> Log out</a></li>
					<% else %>
						<li><a href="/login"><i class="fa fa-sign-in"></i> Login</a></li>
					<% end %>
				</ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </div>


		<div class="container theme-showcase">
			<div class="row">
				<div class="col-md-12">
					<a href="/"><img src="/assets/dopr_thin.jpg" alt="Disciples of Philip Rivers Fantasy Football League" border="0" class="img-responsive" /></a>
				</div>
			</div>
			<% if current_user %>
				<% if current_user.role == "admin" %>
					<%= render "/layouts/admin_control_panel/admin_control_panel" %>
				<% end %>
			<% end %>
		
		
			<% if flash[:notice] %>
			<br />
				<div class="alert alert-success">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<%= flash[:notice] %>
				</div>
			<% elsif flash[:alert] %>
			<br />
				<div class="alert alert-danger">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<%= flash[:alert] %>
				</div>
			<% end %>
			
			<div class="row">
				<div class="col-md-12">
					<h2><%= yield(:title) %></h2>
					<p class="lead"><%= yield(:section_subtitle) %></p>
					<hr />
			
					<%= yield %>
				</div><!-- end of col-md-12-->
			</div><!-- end of row -->
			<div id="push"></div>
				
	
	</div><!-- end of container -->

	        <div id="footer">
	        	<div class="container">
	        		<h5 class="muted credit">
						<% if current_user %>
							Logged in as: <%= link_to current_user.display_name, current_user.team %> [ <%= current_user.email %> | <%= link_to "Edit profile", edit_user_path(current_user) %> ] | 
							<% if current_user.role == "admin" %>
								<a href="/admin"><i class="fa fa-cogs"></i> Admin control panel</a> | 
							<% end %> 
							<a href="<%=logout_path %>"><i class="fa fa-sign-out fa-lg"></i> Log out</a>
						<% else %>
							<a href="/login"><i class="fa fa-sign-in"></i> Login</a>
						<% end %> 
					</h5>
					
					
					
					<p class="muted credit">This site is built by Kyle Kerley using a custom Rails 3.2.16-powered content management system structured by <a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap</a> and served up on nginx through Phusion Passenger using the wonderfully cheap, fast and reliable VPS services of <a href="https://www.digitalocean.com/" target="_blank">Digital Ocean</a>.</p>
					<p class="muted credit">Site version: <strong>2.2.3</strong>. See the <a href="/changelog.txt" target="_blank"><i class="fa fa-puzzle-piece"></i> changelog</a> for details.</p> 
	            	<p class="muted credit">&copy; 2013-<%= current_year_footer %> Kyle Kerley. All rights reserved.</p>
	                
	            </div>
	        </div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<%= javascript_include_tag "application" %>
</body>
</html>