<!DOCTYPE html>
<html lang="en">
<head>
  <title>
  <% if current_user %>
		<% if global_notification_count > 0 %>
			(<%= global_notification_count %>)
		<% end %>
	<% end %>Disciples of Philip Rivers | <%= yield(:title) %>
 </title>

<%= include_gon(:init => true) %>
<%= stylesheet_link_tag 	"application", :media => "all" %>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<link rel="icon"  type="image/png" href="/favicon.png">

<%= csrf_meta_tags %>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="../../assets/js/html5shiv.js"></script>
  <script src="../../assets/js/respond.min.js"></script>
<![endif]-->

</head>
<body>
	<a id="top"></a>
	<% if current_user %>
		<%= render 'layouts/user_quick_look_orig' %>
	<% end %>

 <!-- Fixed navbar -->
	    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <span class="hidden-md hidden-sm"><a class="navbar-brand" href="/">doprleague.info</a></span>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <!--<li><a href="/"><i class="fa fa-home fa-lg"></i> Home</a></li>-->
				
				
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-users"></i> Members <b class="caret"></b></a>
								<ul class="dropdown-menu">
									
									<li role="presentation" class="dropdown-header">Philip Division</li>

									<% current_philip_members.each do |user|%>
										<li>
											<%= link_to(user.team) do %>
												<%= render 'layouts/team_user_dropdown', user: user %>
											<% end %>
										</li>
									<% end %>
									<li class="divider"></li>
									<li role="presentation" class="dropdown-header">Russell Division</li>
									<% current_russell_members.each do |user|%>
										
										<li>
											<%= link_to(user.team) do %>
												<%= render 'layouts/team_user_dropdown', user: user %>
											<% end %>
										</li>
									<% end %>
									<li class="divider"></li>
									<li><a href="/members"><i class="fa fa-list-alt"></i> Directory</a></li>
								</ul>
							</li>
							
	            
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-info-circle"></i> League info <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="/announcements"><i class="fa fa-exclamation-circle"></i> Announcements</a></li>
									<li class="divider"></li>
									<li role="presentation" class="dropdown-header">NFL-specific</li>
									<li><a href="/players"><i class="fa fa-bullhorn"></i> NFL players</a></li>
									<li><a href="/contracts"><i class="fa fa-file-text-o"></i> Contracts</a></li>
									<li><a href="/salary_progressions"><i class="fa fa-money"></i> Salary progressions</a></li>
									<li><a href="/nfl_teams"><i class="fa fa-shield"></i> NFL teams</a></li>
									<li class="divider"></li>
									<li role="presentation" class="dropdown-header">League-specific</li>
									<li><a href="/constitution"><i class="fa fa-gavel"></i> Constitution</a></li>
									<li><a href="/polls"><i class="fa fa-tasks"></i> Facebook polls</a></li>
									<li><a href="/trades"><i class="fa fa-exchange"></i> Trades</a></li>
									<li><a href="/payouts"><i class="fa fa-trophy"></i> League payouts &amp; awards</a></li>
									<li><a href="/standings"><i class="fa fa-sort-numeric-asc"></i> All-time standings</a></li>
									<li><a href="/events"><i class="fa fa-calendar"></i> Events</a></li>
									<li><a href="/super_bowls"><i class="fa fa-ticket"></i> Super Bowl Picks</a></li>
									<li><a href="/faqs"><i class="fa fa-question-circle"></i> FAQs</a></li>
									<li class="divider"></li>
									<li><a href="/help"><i class="fa fa-life-ring"></i> Site help</a></li>
								</ul>
							</li>
							
	         
							<li>
			        <%= form_tag players_path, class: "navbar-form navbar-left", style: "width: 250px;", method: :get do %>
								<div class="input-group"> 
							    <%= search_field_tag :query, params[:query], class: "form-control", placeholder: "Search players", id: "global_search_box" %>
							    <i class="search-clear fa fa-times-circle"></i>
								
									<span class="input-group-btn">
										<%= button_tag(id: "btn_players_search", class: "btn btn-success") do %>
											<i class="fa fa-search"></i>
										<% end %>
									</span>
								</div>
				  		<% end %>

				  		</li>
			  		<% if current_user %>
			  			<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">
			  				<%= image_tag current_user.avatar.url(:tiny) %> 
			  				
			  					<span class="label <%= global_notification_count > 0 ? 'label-danger' : 'label-default' %>"><%= global_notification_count %></span>
			  				

			  				<b class="caret"></b></a>
			  			
			  					<ul class="dropdown-menu">
			  						<li id="li-user-first-name"><%= link_to (image_tag current_user.avatar.url(:tiny)) + " " + current_user.team.team_name, current_user.team %></li> 
			  						<li>
											<%= link_to("/teams/#{current_user.team.to_param}/#contracts") do %>
												<i class="fa fa-file-text-o"></i> Contracts
											<% end %>
										</li>
			  						<li>
											<%= link_to("/teams/#{current_user.team.to_param}/#payouts") do %>
												<i class="fa fa-trophy"></i> Payouts
											<% end %>
										</li>
										<li>
			  							<%= link_to("/teams/#{current_user.team.to_param}/#draftrosters") do %>
												<i class="fa fa-eye"></i> Draft rosters
											<% end %>
										</li>
			  						<li>
			  							<%= link_to("/teams/#{current_user.team.to_param}/#trades") do %>
										 		<i class="fa fa-exchange"></i> Trades <span class="badge"><%= current_user_pending_trades.count %></span>
										 	<% end %>
			  						</li>
			  						<li>
										 	<%= link_to("/teams/#{current_user.team.to_param}/#inbox") do %>
										 		<i class="fa fa-inbox"></i> Messages <span class="badge"><%= current_user_inbox.count %></span>
										 	<% end %>
										</li>
			  						

										<li class="divider"></li>
										<li>
											<%= link_to edit_user_path(current_user) do %>
												<i class="fa fa-pencil-square-o"></i> Edit account info
											<% end %>
										</li>

										<li id="logout">
											<%= link_to(destroy_user_session_path, method: :delete) do %>
												<i class="fa fa-sign-out"></i> Log out</a>
											<% end %>
										</li>
			  					</ul>
			  			</li>
						<% if current_user.role == "admin" %>
							<li><a href="/admin"><i class="fa fa-cogs"></i> Admin</a></li>
						<% end %>

					<% else %>
						<li><a href="<%= new_user_session_path %>"><i class="fa fa-sign-in"></i> Login</a></li>
					<% end %>
				</ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </div>


		<div class="container theme-showcase">
			<div class="row">
				<div class="col-md-12">
					<a href="/"><img src="/images/dopr_mini.png" alt="Disciples of Philip Rivers Fantasy Football League" border="0" class="img-responsive" style="margin-top: 50px;" /></a>
				</div>
			</div>
		
		
		
			<% if flash[:notice] %>
			<br />
				<div class="alert alert-success">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<%= flash[:notice] %>
				</div>
			<% elsif flash[:alert] %>
			<br />
				<div class="alert alert-danger">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<%= flash[:alert] %>
				</div>
			<% end %>
			
			<div class="row">
				<div class="col-md-12">
					<p class="h2 margin-bottom-1em"><%= yield(:title) %>
					<small class="lead" style="font-weight: normal;"><%= yield(:section_subtitle) %></small></p>
						
			
					<%= yield %>
				</div><!-- end of col-md-12-->
			</div><!-- end of row -->
			<div id="push"></div>
				
	
	</div><!-- end of container -->

  <div id="footer">
  	<div class="container">
  		<p class="h5 muted" style="font-weight: normal;">
				<% if current_user %>
					Hey, <%= link_to current_user.display_name, current_user.team %> (<%= current_user.email %>) | <i class="fa fa-pencil-square-o"></i> <%= link_to "Edit profile", edit_user_path(current_user) %>
					
				<% else %>
					<a href="<%= new_user_session_path %>"><i class="fa fa-sign-in"></i> Login</a>
				<% end %> 
			</p>
	
	
	<p class="h6 muted" style="font-weight: normal;">Site version: <strong>2.7.9</strong>. See the <a href="/changelog.txt" target="_blank"><i class="fa fa-puzzle-piece"></i> changelog</a> for details.</p> 
	
	<p class="muted credit">This site was built, is maintained and constantly updated by <a href="http://kkerley.com" style="color: #999;" target="_blank">Kyle Kerley</a> using a custom Ruby on Rails 3.2.18-powered content management system structured by <a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap</a> and served up on nginx through Phusion Passenger using the wonderfully cheap, fast and reliable VPS services of <a href="https://www.digitalocean.com/?refcode=f069f7096a0a" target="_blank">Digital Ocean</a>.</p>
	
      	<p class="muted credit">&copy; 2013-<%= current_year_footer %> <a href="http://kkerley.com" style="color: #999;" target="_blank">Kyle Kerley</a>. All rights reserved.</p>
          
      </div>
  </div>

  <div id="richard_sherman">
  	<img src="/richard_sherman.jpg" style="cursor: pointer;" />
  </div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<%= javascript_include_tag "application" %>
</body>
</html>